[2020-02-01 10:05] mmarkelov opened #1 "Development environment"
- eslint
- prettier
- travis
- tests

[2020-02-01 10:06] mmarkelov opened #2 "Add ability to setup playwright through file"

[2020-02-01 15:20] mmarkelov opened #3 "Add ability to define device"
https://github.com/microsoft/playwright/blob/master/docs/api.md#browsertypedevices

[2020-02-03 11:27] mmarkelov commented on #3
Added in **0.0.4**

[2020-02-03 11:27] #3 closed

[2020-02-04 12:09] mxschmitt commented on #1
Maybe instead of TravisCI directly GitHub Actions?

[2020-02-04 12:16] mmarkelov commented on #1
@mxschmitt thank you for suggestion! I should take a look on it.

[2020-02-04 12:18] mxschmitt commented on #1
@mmarkelov I can set it up for you if you want :)

[2020-02-04 12:27] mmarkelov commented on #1
@mxschmitt sure! It will be perfect!

[2020-02-04 12:55] FezVrasta opened #4 "page is not defined"
Hi, I'm on jest@25.1.0, when I add your preset and attempt to reference `page` I get:

[code]

Do I need any additional configuration in addition to the one in the readme?

I tried to use `browser.newPage()` but it tells me `browser is not defined`

[2020-02-04 13:16] mmarkelov commented on #4
@FezVrasta I just made [repo](https://github.com/mmarkelov/jest-playwright-preset-example) for example configuration. I suppose you need to define jest preset.
- You can add it to your `package.json`:
[code]
- Or you can do it with `jest.config.js` file:
[code]

I suppose it should be placed in README

[2020-02-04 13:23] FezVrasta commented on #4
That's what I have done.

If I manually apply the `globalSetup`, `globalTeardown` and `testEnvironment` Jest configuration properties it works though...

[2020-02-04 13:51] mmarkelov commented on #4
@FezVrasta it's difficult to say what is going wrong without whole configuration. I can only suppose that some of other options can override `jest-playwright-preset`. I'll try to dive into this issue to search possible problems.

[2020-02-04 13:54] FezVrasta commented on #4
This is the whole repository, I'm trying to migrate from Puppeteer to Playwright:

https://github.com/popperjs/popper-core/tree/test/playwright

You can find the Jest configuration in the `.config` folder.

[2020-02-04 13:55] mmarkelov commented on #4
@FezVrasta thank you!

[2020-02-04 16:01] mmarkelov commented on #4
@FezVrasta I suppose this is because you define **testEnvironment**:
https://github.com/popperjs/popper-core/blob/fe24beeb92da1bb9573d2e6929940220008c263b/.config/jest.config.js#L6

And `jest-playwright-preset` like `jest-puppeteer` use it under hood.

I think this info should be added in README

[2020-02-04 16:33] FezVrasta commented on #4
No that's not it, you can safely remove `testEnvironment` `globalSetup` and `globalTeardown` and add back `preset` and you will still reproduce the issue.

[2020-02-04 17:06] pavelfeldman opened #5 "[Bug] Can't connect to WebKit more than once"
Cross-referencing https://github.com/microsoft/playwright/issues/830

jest-playwright launches a browser once and then connects to it over webSocket for each environment. That works for Chromium and Firefox since they support multiple web socket clients, but fails for WebKit. I guess we did not do a great job explaining our launcherApp apis and limitations.

What our local harness does instead is

[2020-02-04 17:18] FezVrasta commented on #5
Would `--runInBand` help with this issue meanwhile?

[2020-02-04 20:00] mxschmitt opened #7 "[Enhancement]: Ability to use only a selected browser to reduce install duration"
Currently we need the full `playwright` package in order to use `jest-playwright`. It would be awesome, if we could use only a specific browser or two which would reduce the install duration.

They already provide these packages in:
- `plawright-chromium`
- `playwright-webkit`
- `playwright-firefox`

(ref: https://github.com/microsoft/playwright/tree/master/packages)

Instead of:

[code]

it would

[2020-02-04 20:25] mxschmitt opened #8 "[Feature]: Provide helper function to debug/pause execution"
Similar to that: https://github.com/smooth-code/jest-puppeteer#globaljestpuppeteerdebug

[2020-02-05 06:56] #5 closed

[2020-02-05 07:34] mmarkelov opened #10 "Documentation improvements"
Need some extra information about different ways of configuration
https://github.com/mmarkelov/jest-playwright/issues/4#issuecomment-581904848
https://github.com/mmarkelov/jest-playwright/issues/4#issuecomment-581980250

[2020-02-05 07:34] #2 closed

[2020-02-06 08:44] greenkeeper[bot] opened #11 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-02-06 08:45] greenkeeper[bot] opened #12 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-02-06 08:48] #11 closed

[2020-02-06 08:48] #12 closed

[2020-02-06 13:51] #10 closed

[2020-02-06 18:56] mxschmitt commented on #1
Seems like we can close this issue @mmarkelov

[2020-02-07 06:35] #8 closed

[2020-02-07 06:36] mmarkelov commented on #1
@mxschmitt yeah! I suppose so. But we really need to think about tests

[2020-02-07 06:36] #1 closed

[2020-02-07 06:38] mmarkelov opened #17 "Testing jest-playwright"
https://github.com/mmarkelov/jest-playwright/issues/1#issuecomment-583255213

[2020-02-07 06:45] mmarkelov commented on #8
Also I find out some comments about debug mode from original `jest-puppeteer`
https://github.com/smooth-code/jest-puppeteer/issues/255#issuecomment-509103297

[2020-02-07 06:48] mxschmitt commented on #17
I can start with that later. Thought first about a stub test to launch the browsers, open a html file and check if the heading is equal to an expected one.

[2020-02-08 02:10] arjun27 opened #19 "Add configuration option to run all browsers in parallel"
It would be great to be able to run tests in all browsers with just one command.

[2020-02-09 12:44] #7 closed

[2020-02-09 13:53] johnnybravo81 opened #21 "jestPlaywright is not defined"
After following the basic setup, I am running into following issue:

![image](https://user-images.githubusercontent.com/6212638/74103364-81d79b80-4b71-11ea-92b3-b325db374d26.png)

Environment
node -v 12.15.0
Windows 10

[2020-02-09 15:58] mxschmitt commented on #21
Which version of `jest-playwright` have you installed? It was added in version `0.0.6`.

[2020-02-09 18:19] johnnybravo81 commented on #21
Indeed bumping the version of `jest-playwright` from `0.0.5` to `0.0.6` solved the issue. Thanks much for the help!

[2020-02-09 18:19] #21 closed

[2020-02-10 15:14] mxschmitt commented on #17
Seems to be also done right? @mmarkelov
Or do you want to cover some other functionalities?

[2020-02-11 06:15] mmarkelov commented on #17
@mxschmitt I suppose we can close it, cause I opened this issue for creation just starter tests

[2020-02-11 06:15] #17 closed

[2020-02-12 00:20] aesyondu commented on #19
Or let's say for example I want to test:
browsers: ["firefox", "chromium", "webkit"]
devices: ["iPhone X", "iPad Pro 11", "MacBook Pro 13-inch"]

[code]

How would I go about doing that?

[2020-02-12 05:29] aesyondu opened #25 "[Question] Should beforeAll still default to 5000ms?"
I have a spec file with a `beforeAll` function that runs more than 5000ms:

[code]

which gives me an error:
[code]

If I add the timeout argument, say 30000ms `beforeAll(async () => {}, 30000)` or move it to the test function:
[code]

Then it works fine. Is this the expected behavior? Or should it wait in a similar manner to the it() and test() functions?

[2020-02-12 09:28] mxschmitt commented on #25
This is the expected behaviour. You can increase the timeout manually, by executing `jest.setTimeout(999999)` for example before your `describe` calls.

[2020-02-12 10:07] mmarkelov commented on #19
@aesyondu with version **0.0.7** you can check Readme for running for multiple browsers:
https://github.com/mmarkelov/jest-playwright#unstable-and-experimental-api

I suppose I can also add support for **devices**, but before it I need to test current behavior for **browsers**

[2020-02-12 10:11] mmarkelov opened #26 "Migrate to typescript"
Thinking about rewriting current codebase with TS, cause there is no so much code right now, it mustn't take much time with it

[2020-02-12 10:38] aesyondu commented on #25
Got it, thank you.

[2020-02-13 02:52] aesyondu opened #27 "[Question] Multiple page.goto in a spec/test file"
I have a test where I `page.goto` and `page.close` for each test. Something like this:

[code]

How can I achieve this, as the test crashes because the browser gets closed? Or should I just separate the tests instead, one file per `page.goto`, then just wrap each `page.goto` in a `beforeAll` function?

[2020-02-13 06:29] aesyondu commented on #27
Hmm, just found that `browser` is exposed as a global variable. Can I use that? Not sure if I could since it's not in the docs. Or maybe I should add that in the docs?

[code]

[2020-02-13 06:44] mmarkelov commented on #27
@aesyondu I suppose you should close page just after all tests, like so:
[code]

[2020-02-13 06:46] mmarkelov commented on #27
@aesyondu yeah! You can use `browser` from global, but I don't want to put it in documentation right now, cause I want keep this package as simple as possible without extra variables and params

[2020-02-13 06:49] aesyondu commented on #27
Ok I got you. Thanks for the heads up.

[2020-02-13 06:49] #27 closed

[2020-02-13 11:20] aesyondu commented on #25
Would it be better if the default timeout is 30 seconds (30000ms), the same as playwright? My tests sometimes pass and sometimes fail because of the 5000ms jest timeout error. Is it even possible to override it via jest preset?

[2020-02-13 11:22] mmarkelov commented on #25
@aesyondu it may be a good idea! I'll take a look

[2020-02-13 13:38] FezVrasta commented on #5
I still have this problem with the latest version

https://github.com/popperjs/popper-core/pull/990/checks?check_run_id=443616697#step:7:21

[2020-02-13 16:44] thernstig opened #29 "jest-dev-server support"
Contemplating to move to Playwright, but due to dependency to jest-puppeteer I need to make sure this plugin will work just as well. I could not find in the documentation if https://github.com/smooth-code/jest-puppeteer#start-a-server is supported. Could this be added and if it already is, the README updated with information about it.

[2020-02-14 06:38] mmarkelov commented on #29
@thernstig there is no **jest-dev-server** support right now. I'll take it in progress. I suppose it wouldn't take much time to support [jest-dev-server](https://github.com/smooth-code/jest-puppeteer/tree/master/packages/jest-dev-server)

[2020-02-14 07:00] mmarkelov opened #32 "Make priority for defined viewport from jest-playwright.config.js for devices"
#31

[2020-02-14 07:06] aesyondu commented on #19
Just tested it and it works great. I observed on non-headless that it 1. opened chromium, 2. completed all the tests, 3. opened webkit, 4. completed all the tests, etc. I'm thinking of a way to make it execute all browsers at the same time, just to shorten the test time.

[2020-02-14 07:09] mmarkelov opened #33 "Migrate to new playwright version"
[Playwright 0.11.0](https://github.com/microsoft/playwright/releases/tag/v0.11.0) was released, as I know there were some changes with API, so it can need some changes to current implementation
#30

[2020-02-14 07:11] mmarkelov commented on #19
@aesyondu you should try it with `--parallel` option:
```jest-playwright --parallel```

[2020-02-14 07:17] aesyondu commented on #19
Thanks man! It does execute at the same time. Didn't realize I misspelled `paralel`. That was stupid.

[2020-02-14 08:06] aesyondu commented on #19
I'm getting a warning of some sort, is it safe to ignore?:

<img width="402" alt="image" src="https://user-images.githubusercontent.com/57334943/74512610-a225a280-4f43-11ea-8b85-a9a18c7921a9.png">

<details>
<summary>
app.spec.js
</summary>

[code]
</details>

<details>
<summary>
stdout
</summary>
<pre>

(node:35988) ExperimentalWarning: queueMicrotask() is experimental.
(node:35987) ExperimentalW

[2020-02-14 08:43] mmarkelov commented on #19
@aesyondu this is not critical, but I suppose something is wrong with **teardown** function, I'll check it out

[2020-02-14 08:47] aesyondu commented on #19
Warning disappeared when I removed "firefox". When I added it back it reappeared.

[2020-02-14 09:34] #32 closed

[2020-02-14 12:18] mmarkelov commented on #19
@aesyondu seems like something is wrong with **firefox**

[2020-02-15 10:15] #29 closed

[2020-02-15 11:05] thernstig commented on #29
@mmarkelov stellar work 🥇

[2020-02-15 12:42] mxschmitt commented on #26
I would like to work on this one. :)

[2020-02-17 08:24] aesyondu opened #38 "[BUG] page.route not working properly"
**Context:**
- Jest-Playwright Version: 0.0.9
- Playwright Version: 0.11.1
- Operating System: Mac OS X 10.14.6
- Extra: node@11.15.0 npm@6.7.0

**Code Snippet**

[code]

**Describe the bug**

`page.route` throws the error below, works fine when instantiating playwright manually:

[code]

[2020-02-17 10:03] mmarkelov commented on #38
@aesyondu hm! This is strange, I'm not sure what can be wrong with it.
It seems be OK when I'm using string with it:
[code]

Looks like ```instanceof RegExp``` for passed regexp return **false**.
I'll try to find out why it is happend

[2020-02-17 12:30] aesyondu commented on #38
How is this possible :o

<img width="183" alt="image" src="https://user-images.githubusercontent.com/57334943/74653893-1c645a00-51c4-11ea-9433-d7d9f896d9ab.png">

<img width="766" alt="image" src="https://user-images.githubusercontent.com/57334943/74653929-2d14d000-51c4-11ea-84a1-b4fca607002a.png">

[2020-02-17 12:31] aesyondu commented on #38
Umm, what...

<img width="286" alt="image" src="https://user-images.githubusercontent.com/57334943/74654055-6cdbb780-51c4-11ea-8bf4-e278aaa2513f.png">

[2020-02-17 12:37] aesyondu commented on #38
Using:
[code]

<img width="773" alt="image" src="https://user-images.githubusercontent.com/57334943/74654429-381c3000-51c5-11ea-8c72-441603495376.png">

[2020-02-17 12:44] mmarkelov commented on #38
@aesyondu I suppose it came from **jest**, but actually I'm not sure. It's very confusing

[2020-02-17 12:46] aesyondu commented on #38
Gottem... hahaha. I will try to make a pull request to playwright.

[code]

https://stackoverflow.com/questions/4339288/typeof-for-regexp#comment4724685_4339350

<img width="693" alt="image" src="https://user-images.githubusercontent.com/57334943/74654913-52a2d900-51c6-11ea-8840-b35b2a9c4e42.png">

[2020-02-18 12:06] #33 closed

[2020-02-18 14:53] schindld commented on #33
This still isn't working for me. I'm using the "'jest-playwright-preset-example" as my starting point. I updated the *package.json* to include

[code]
because you merged in support for 0.11.0 this morning.

Next, I update the lock file: `npm install --no-optional --package-lock-only`.

Then I saw you were installing *libgbm* in your workflow file, so after copying the package files into my docker

[2020-02-18 15:06] schindld commented on #33
Looks like you have a build script that has to run in order to get that file in place, so I can't just use master - I have to wait for a release.

[2020-02-18 21:02] mxschmitt commented on #33
Exactly, you have to wait for a release 👍

[2020-02-19 06:24] mmarkelov commented on #33
@schindld I just released **0.0.10**, sorry but I just hadn't time to do it yesterday.

I suppose I can add actual build to git for this case

[2020-02-19 13:16] schindld commented on #33
Thanks @mmarkelov
I love the project

[2020-02-20 12:04] tkrotoff opened #41 "Missing TypeScript typings for global page"
In my source code I've added types/jest-playwright-preset.d.ts:

[code]

Allows `page` to be typed:

[code]

More or less related to #26

[2020-02-20 13:14] tkrotoff opened #42 "How to pass arguments to the browser executable?"
How to pass arguments to the browser executable?

Use case:
- https://github.com/microsoft/playwright/issues/1062
- https://github.com/arjun27/playwright-github-actions/blob/2770e149bdd75408203aa2b6590e11dafec6fdc3/test-project/index.js#L19

For GitHub Actions to work with Playwright, we need to pass `--no-sandbox` to chromium

I think the arguments should be passed somewhere here: https://github.

[2020-02-20 14:17] mmarkelov commented on #42
@tkrotoff you can pass it with **jest-playwright.config.js**:
[code]

[2020-02-20 16:33] arjun27 commented on #42
Note that WebKit will crash when launched with `no-sandbox`, which is a valid arg for Chromium only.

For now, I recommend using `process.env.BROWSER === ‘chromium’ ? ['--no-sandbox'] : []`

Follow this as we look for a better fix: https://github.com/microsoft/playwright/issues/1063

[2020-02-22 18:10] jperl opened #43 "Collaborate"
@celeryclub asked about using [jest-playwright with qawolf](https://github.com/qawolf/qawolf/issues/444), which I thought was a great idea!

There is some overlap and it would be great for us to be able to use jest-playwright under the hood. I am curious if you are planning to maintain this library and if you are you open to collaborators?

[2020-02-22 18:10] jperl commented on #43
We would want to do things like separate out our video recording to a plugin so you could install jest-playwright-video and it will record your browsers in CI. This might require some changes to jest-playwright.

[2020-02-22 23:14] #42 closed

[2020-02-23 08:21] mmarkelov commented on #43
@jperl yeah! That's sounds great!

[2020-02-23 08:32] mxschmitt commented on #43
Let's maybe use some way of synchronous communication like Telegram or Slack?
Seems to be more efficient to collaborate over in my mind.
What do you think?

[2020-02-23 08:34] mmarkelov commented on #43
@mxschmitt lgtm! I think this is a good idea

[2020-02-23 08:47] mxschmitt commented on #43
@mmarkelov afaik most communities are switching over to Discord, so if you don't mind I would simply create a server there.

[2020-02-23 08:50] mmarkelov commented on #43
@mxschmitt we should wait @jperl  thoughts about it

[2020-02-23 09:08] mxschmitt opened #45 "Add a coverage visualisation tool"
Like:
- https://codecov.io
- https://coveralls.io

what do you think? I prefer codecov. Very trivial to add, I can take over that issue if you want.

[2020-02-23 09:09] mxschmitt opened #46 "Find out why all tests can't be run in the same Jest run"
Currently we run them separately, would be cool to get rid of that and find the cause why we can't run them together.

[2020-02-23 09:10] mmarkelov commented on #45
@mxschmitt I used **coveralls**, but if **codecov** trivial to add, we can use it

[2020-02-23 09:28] mxschmitt commented on #45
Okay, let's use coveralls, so I also use something else. 👍seems to be more popular.

[2020-02-23 09:40] #26 closed

[2020-02-23 14:14] jperl commented on #43
I have been using Gitter for QA Wolf because embed it on our docs site which lowers the barrier for people to get help. That being said, it doesn’t really matter to me.

[2020-02-23 14:42] mxschmitt commented on #43
Probably something like the new discussion feature is something what we need: https://github.com/zeit/next.js/discussions
hmm. Maybe I can talk to somebody of GitHub that they can enable that for us too if you want.

[2020-02-23 16:21] jperl commented on #43
I think a chat is probably better. Discord or Slack or Gitter, doesn't matter to me. My vote is Discord since you brought it up, and they have audio support as well.

[2020-02-23 16:53] jperl commented on #43
I went ahead and created a discord (will make you both admins upon joining) -- just to get started. We can change if you prefer. https://discord.gg/duyWaa

[2020-02-23 17:11] jperl commented on #43
Ok so I created and shutdown the server, since Max and I agree it would be better to just have a channel in the official Playwright slack. https://join.slack.com/t/playwright/shared_invite/enQtOTEyMTUxMzgxMjIwLThjMDUxZmIyNTRiMTJjNjIyMzdmZDA3MTQxZWUwZTFjZjQwNGYxZGM5MzRmNzZlMWI5ZWUyOTkzMjE5Njg1NDg

[2020-02-23 17:11] jperl commented on #43
Closing this issue -- we can discuss more in slack 👍

[2020-02-23 17:11] #43 closed

[2020-02-23 23:49] tkrotoff opened #49 "playwright-firefox and friends always installed"
playwright-firefox, playwright-chromium and playwright-webkit always get installed

[code]
[code]

[code]

[code]

This is because they are declared as `optionalDependencies`: https://github.com/mmarkelov/jest-playwright/blob/v0.0.10/package.json#L48-L54

This generates inside package-lock.json:
[code]

`optionalDependencies` does not work like you think: https://docs.npmjs.com/files/package.json#

[2020-02-24 06:56] aesyondu opened #50 "[Question] Is the dev-server command expected to run for each test suite / spec file?"
I have the following jest-playwright.config.js:

[code]

Where test-server is just:

[code]

When I execute my tests individually, say `jest -- test/e2e/mytest.spec.js`, It works fine (runs the server, runs the test, closes the server via SIGTERM). However, when I run all tests via `jest`, there is a race condition happening, where before the previous server is terminated, another server is attemp

[2020-02-24 07:02] aesyondu commented on #50
I found that adding this to the jest-playwright.config.js server property solves my issue. But is there a way to create one server for all test suites, not one server for each test suite?

[code]

[2020-02-24 07:40] aesyondu commented on #50
In the meantime, the docs provides a way for a global setup / teardown of the server. I just did that instead:

https://github.com/smooth-code/jest-puppeteer/tree/master/packages/jest-dev-server

[2020-02-24 08:20] mmarkelov commented on #45
Close it with #47

[2020-02-24 08:20] #45 closed

[2020-02-24 08:22] mxschmitt commented on #49
Hey,

I've also experienced the issue, that even when I install only `playwright-chromium` on my actual repository also their friends get's installed by `jest-playwright`.

For me your described approach makes sense and should probably work.
PR is open, have to add docs now.

[2020-02-24 08:56] #49 closed

[2020-02-24 12:41] mxschmitt commented on #41
By using the latest version `0.0.11` we now have types attached. So you can use either in your `tsconfig.json`.
[code]

or via the Triple-Slash Directives:
[code]
The ESLint ignore rule is there, because without, it will convert `///` into `// /`.

[2020-02-25 18:30] tkrotoff commented on #41
❤️

[2020-02-25 18:30] #41 closed

[2020-02-28 20:09] JakeStevenson opened #55 "Failing tests return exit code 0 instead of 1"
I set up a failing jest test.   I observed the following behavior:

When run with jest-playwright:

This makes usage of jest-playwright in a CI system difficult.

[2020-02-28 21:55] mxschmitt commented on #55
I'm on it, will take a look tomorrow

[2020-02-29 09:32] mxschmitt commented on #50
Unfortunately we run separate instances of them for each sub-test. Would be definitely an improvement if we only run it once.

[2020-03-01 10:25] #55 closed

[2020-03-01 12:52] mmarkelov commented on #19
I think we can close it, I just added support to run tests for multiple devices in **0.0.13**

[2020-03-01 12:52] #19 closed

[2020-03-04 15:42] thernstig opened #58 "Add 'server' option to https://github.com/mmarkelov/jest-playwright#configuration"
https://github.com/mmarkelov/jest-playwright#start-a-server was recently added and it explains how to add a server, but maybe also the actual opion should be shown in https://github.com/mmarkelov/jest-playwright#configuration?

[2020-03-04 16:25] thernstig opened #59 "Example not working"
The example on the main page does not work:

[code]

It gives the result:

[code]

[2020-03-04 17:42] mmarkelov commented on #59
@thernstig thanks! Seems like something was changed in ```https://whatismybrowser.com/```, I'll fix it

[2020-03-04 17:43] #59 closed

[2020-03-05 10:45] thernstig opened #60 "Unable to register new selector engines"
[code]

I am using https://github.com/Georgegriff/query-selector-shadow-dom, as per above, to register a new selector engine. However, when invoking the `waitForSelector` it returns `Evaluation failed: Error: Unknown engine shadow while parsing selector shadow=body`.

I _think_ this might be due to that I import playwright in the suite, when jest-playwright itself already imported it somewhere els

[2020-03-05 11:04] mmarkelov commented on #60
@thernstig thank you for report! I just need some time to think about implementation. I suppose that I could add `selectors` or whole `playwright` instance to global. And you could do something like this:
[code]

[2020-03-05 11:37] thernstig commented on #60
I'm happy with anything really, this is the major thing that stops me from going fully Playwright. The library I am using above is great, but eventually I hope Playwright will support shadow dom penetration by default. Going to make a feature request about it soon, as Web Components is growing out in the wild.

[2020-03-05 11:49] thernstig opened #61 "jest-playwright.config.js in project root not working"
The documentation states:

This is not true, as with the below configuration, where one use **Jest projects**, it does not find `jest-playwright.config.js` by default if it is placed in the project's root dir:

[code]

This forces me to use `JEST_PLAYWRIGHT_CONFIG`, but it would be nice if this plugin actually looked at the Jest project root when finding the file.

[2020-03-05 18:46] mmarkelov commented on #60
@thernstig I just published **0.0.14**.
So you can define **selectors** with `jest-playwright.config.js`:
[code]

[2020-03-05 18:49] mmarkelov commented on #61
@thernstig started work on this issue. It must be ok, if you don't use `jest-playwright` command to run your tests. I'm working on full support for all possible cases

[2020-03-06 10:15] thernstig commented on #61
@mmarkelov I verified that this now works fine without setting `JEST_PLAYWRIGHT_CONFIG` when running with `jest` CLI - good job.

[2020-03-06 13:57] thernstig commented on #60
It works! 😃

[2020-03-06 14:21] #60 closed

[2020-03-06 21:39] #58 closed

[2020-03-11 09:37] thernstig opened #66 "jestPlaywright.debug() support in Jest-circus"
I'm going to be honest to say I've not investigated this yet, but seeing as jest-playwright's grandfather is jest-puppeteer, I expect this is not supported.

For reference for this issue, see https://github.com/smooth-code/jest-puppeteer/issues/255

`I wonder if there any plans to support jest-circus. While jest-circus works kinda fine out of the box, I noticed that jestPlaywright.debug() does not

[2020-03-11 12:10] mmarkelov commented on #66
@thernstig according to that issue, `jestPlaywright.debug()` is exactly the same as `jestPuppeteer.debug()`, which is hacky solution. And as for me we shouldn't use it, but we need to find out solution to stop test execution. I just made some research on it, but didn't find solution :(
Some related issues:
- https://github.com/smooth-code/jest-puppeteer/issues/255
- https://github.com/smooth-code/

[2020-03-11 12:58] thernstig commented on #66
Ok, that's good news though that you are looking into better alternatives. Will happily test it once in place.

[2020-03-12 13:20] thernstig opened #67 "BUG: beforeAll() with a page.goto with incorrect URL generates strange error: UnhandledPromiseRejectionWarning: Error: Protocol error (Runtime.callFunctionOn): Target closed."
Promise errors in `beforeAll()` gives some un-understandable errors, see below. I could not replicate this with just using Playwright standalone.

**Code**

[code]

**Output**

[code]

Removing the beforeAll() and instead doing this:

[code]

Instead gives a better error:

[code]

[2020-03-13 14:07] testingbot opened #68 "No wsEndpoint support"
Hi,

It seems this library does not yet have support to connect to a wsEndpoint?
`jest-puppeteer` does provide this support. We are looking to add documentation to our website HeadlessTesting.com to use `jest-playwright` with our grid, but we would need wsEndpoint support for this.

If interested, we can help build a PR to add this feature?

[2020-03-14 14:18] mmarkelov commented on #68
@testingbot it will be great!

[2020-03-14 16:08] mmarkelov commented on #67
Some research on it. Maybe we should add event listener for this?
[code]
I'm not sure that is right decision

[2020-03-14 18:27] thernstig commented on #67
I actually now noticed that `While navigating to http://0.0.0.5:8080/: net::ERR_INVALID_ARGUMENT at http://0.0.0.5:8080/` is seen in the first sampe as well, but much further down after the test cases started. So at least the proper error is in there somewhere. But obviously all the obscure errors reported before that is a problem.

It would be interesting to see if this is solved with jest-circus

[2020-03-14 18:34] thernstig commented on #67
Oh, and adding an even listener like you suggest would still give that un-understandable output.

I think the main problem is that the having a `page.goto()` error inside `it()` gives a proper error whilst having it in `beforeAll()` does not. Even though the error is exactly the same.

Again maybe this is a problem with Jest, that jest-circus solves? Or maybe it is even a promise with Playright?

[2020-03-14 20:42] mxschmitt opened #69 "feat: Whitelist of files for actual Playwright tests"
Use case:

We have a bunch of tests files in our project, but only some of them require a browser instance. Currently we open for every test with Jest a dedicated browser.

Ideas:

- a) introduce a whitelist, so that only for a specific glob pattern (can also be full file path) will the browser in the end being created

~~- b) use a single browser instance for all the tests and only create a new c

[2020-03-15 15:23] mmarkelov commented on #66
Made some research on it. Seems like it is useless for jest 25: https://github.com/mmarkelov/jest-playwright/blob/6db32bf6ad8416af043e9c93eebba4e24e3be1f9/src/PlaywrightEnvironment.ts#L73-L83
As workaround you can set timeout in **beforeAll**, cause I  just can't find way to set it in **NodeEnvironment**:
[code]

I'm thinking about adding some debug script for this. Something like this:
```jest-pl

[2020-03-16 19:08] mxschmitt commented on #69
For any further visitors the workaround or best practise for that by Jest would be to create multiple Jest configuration files. In the end you can combine this by calling jest with `jest -c jest.e2e.config.js` for example via the `jest` section of your `package.json` file and the [`testMatch`](https://jestjs.io/docs/en/configuration#testmatch-arraystring) setting of Jest.

[2020-03-16 19:08] #69 closed

[2020-03-16 19:11] mxschmitt commented on #25
It seems like to be not possible to set the timeout in the present directly.

I've added some workaround / best practise in the readme: https://github.com/mmarkelov/jest-playwright#error-reporting-with-jest

[2020-03-18 15:49] mmarkelov opened #75 "Feature: add utility expect methods in Jest"
Support features like **jest-puppeteer**: https://github.com/smooth-code/jest-puppeteer/blob/master/packages/expect-puppeteer/README.md#api

[2020-03-18 18:14] thernstig commented on #66
Is there no way to set `jest.setTimeout()` in the constructor in your environment (that extends NodeEnvironment?)

Our project is currently not using `jest-playwright` but only using Jest directly. The reason for this is that we are multiple developers, and we use `jest` for both unit, integration and e2e tests. Adding the overhead of users to learn another CLI tool is not an ideal solution for us

[2020-03-22 01:06] mxschmitt opened #79 "Migrate dependency bump bot"
See https://greenkeeper.io for more information.

Possible fixes are:
a) migrate to new Synk Greenkeeper bot
b) Use Renovate bot
c) Use Dependabot

I would choose a) or b). You can decide 👍

[2020-03-23 17:57] thernstig opened #80 "Feature: Add jest-playwright as an ESLint environment"
https://eslint.org/docs/user-guide/configuring#specifying-environments has a way to configure environments. It would be cool if jest-playwright was part of that, but I am not sure how feasible that is. This would avoid having to specify the globals that come with jest-playwright.

Maybe not worth it and then you can close this, but I just thought I'd bring up the idea even how minor it might be.

[2020-03-23 18:33] mmarkelov commented on #80
@thernstig that's make sense

[2020-03-24 09:15] #79 closed

[2020-03-24 15:28] thernstig opened #84 "[BUG] jest-dev-server won't be installed by default"
Hi!

I just tried to install version 0.0.15 and it installs no `requires`, see here:

[code]

This means e.g. `jest-dev-server` is not installed nor no other packages. Am I missing something?

[2020-03-27 07:56] thernstig opened #85 "Feature: Prepare for jest-circus"
Next version of Jest will default to using jest-circus as their test runner. Already now many projects change the default runner to instead use jest-circus due to it's superioirity, see https://github.com/facebook/jest/tree/master/packages/jest-circus

jest-circus supports new events fired that can be listened to in test environments via the `handleTestEvent` function, see https://jestjs.io/docs/e

[2020-03-27 14:55] mmarkelov opened #86 "Migrate to playwright v0.12"
Breaking changes [here](https://github.com/microsoft/playwright/releases/tag/v0.12.0)

[2020-03-28 15:54] mxschmitt commented on #84
I think we should add `jest-dev-server` to the normal dependencies so it will be installed by default.

cc @mmarkelov

[2020-03-29 12:04] #86 closed

[2020-03-29 12:06] mmarkelov commented on #84
@mxschmitt may be it should be also peer dep?

[2020-03-29 12:10] mxschmitt commented on #84
Either that (but then it won't be automatically installed right?) or a normal dependency. I would go with the second approach. Of course in the end more to install, but that should be ok (https://unpkg.com/jest-dev-server@4.4.0/package.json)

[2020-03-30 13:59] headlesstesting commented on #68
Please see https://github.com/mmarkelov/jest-playwright/pull/90 for the PR

[2020-03-30 14:11] schindld opened #91 "Regression: Can't use single browser anymore"
Please see [this comment](https://github.com/mmarkelov/jest-playwright/commit/0a36fa6b91eeb75072dbb85b5ad4efba66901cda#r38143916) on commit  0a36fa6b.

[2020-03-30 14:13] mxschmitt commented on #91
Probably we should require the devices from 'playwright-core' instead of 'playwright'.

[2020-03-30 14:16] mmarkelov commented on #84
Closed with #89

[2020-03-30 14:16] #84 closed

[2020-03-30 14:19] mxschmitt commented on #68
Merged in #90, thanks for your contribution!

[2020-03-30 14:19] #68 closed

[2020-03-30 14:23] mxschmitt commented on #67
Will close the issue for now if it's okay. For my understanding the issue comes up if Jest timeout < Playwright timeout. Thats why in the end no verbose error reporting will be generated which line timed out.
ref: https://github.com/mmarkelov/jest-playwright#error-reporting-with-jest

[2020-03-30 14:23] #67 closed

[2020-03-30 14:23] #91 closed

[2020-03-30 14:25] mxschmitt commented on #25
Close because it's unfortunately not possible. Maybe with Jest-circus in the future.

[2020-03-30 14:25] #25 closed

[2020-03-30 14:28] mmarkelov commented on #85
@thernstig I just made some research on it.

So you can extend Environment like in [jest-puppeteer](https://github.com/smooth-code/jest-puppeteer#extend-puppeteerenvironment):

**jest.config.js**:
[code]

**custom-preset.js**:
[code]

I just need to find out why there is some problems with it right now

[2020-03-30 14:30] mxschmitt commented on #38
Closed since the upstream PR looks like it was merged.

[2020-03-30 14:30] #38 closed

[2020-03-30 14:42] mxschmitt commented on #75
I thought about:
- comparing the amount of items of an elector `expect(page).toHaveOccurrences("ul > li", 5)`
- comparing text `expect(page).toHaveInnerText("#ias", "foobar")`
- contains text `expect(page).toContainText("#323", "bar")`

not sure whats actually most useful.

[2020-03-30 17:12] thernstig commented on #85
@mmarkelov Yes that is what I meant with 2) in my original post. Should that maybe be added to the README like it is in jest-puppeteer?

Regarding 1), when you get 2) working, is there anything else that needs to be fixed for jest-circus to work you think?

[2020-03-30 19:15] mxschmitt commented on #80
@thernstig could you try https://github.com/mxschmitt/eslint-plugin-jest-playwright?
Should fit for your needs, if yes then we can refer to this in the README.

[2020-03-31 06:26] #80 closed

[2020-03-31 06:28] #46 closed

[2020-04-01 22:24] mxschmitt commented on #75
I've created a package for that https://github.com/mxschmitt/expect-playwright feel free to contribute to so we can add more utility functions to it.

[2020-04-02 07:15] mmarkelov commented on #75
@mxschmitt may be **jest-playwright** should include your package underhood?

[2020-04-02 10:13] #75 closed

[2020-04-03 09:49] thernstig opened #99 "Error when using custom Jest runner with selector engine: "shadow" selector engine has been already registered"
**UPDATED**

Getting an error when using custom Jest runner with selector engine: `"shadow" selector engine has been already registered`. See repro in comments below.

**Original problem below. After update, solved by upgrading also Playwright.**

~~Just upgraded to latest jest-playwright (0.1.1) and get this when running:~~

[code]

~~My jest-playwright.config.js:~~

[code]

[2020-04-03 09:57] mxschmitt commented on #99
How do you install Playwright and which version of it are you using? It needs to be the latest once, because only this one is compatible with our latest release.

[2020-04-03 10:58] thernstig commented on #99
Ok, will try the latest. But looking at your source code, it does not look like you changed how selector engines are set. It has changed in the latest Playwright: https://github.com/microsoft/playwright/blob/master/docs/selectors.md

That is the reason why I also not upgraded Playwright. But will try that now.

[2020-04-03 11:01] mxschmitt commented on #99
We did it in #88 which should be already released.

awesome!

[2020-04-03 11:02] thernstig commented on #99
Oh, you did! Then all good, we can close this one. Thanks!!

[2020-04-03 11:03] thernstig commented on #99
@mxschmitt Hmm I get this error now. Using latest npm versions of both jest-playwright and playwright.

[code]

[2020-04-03 11:16] thernstig commented on #80
@mxschmitt I verified that it works. A question though. The implementation has this:

[code]

Isn't this more proper?

[code]

Reason being that you can just `document.` in many of the Playwright functions that runs inside the browser.

[2020-04-03 11:22] mxschmitt commented on #80
good catch, will adjust this in a bit! :)

[2020-04-03 11:42] thernstig commented on #99
@mxschmitt Just making sure you saw my last comment with this ping (as you were so active at first so thinking you maybe missed it).

[2020-04-03 12:42] thernstig opened #100 "Only the first test case respects setting jest.setTimeout()"
For some reason, the second (and third, and fourth and so on) test case does not respect what is set with `jest.setTimeout()`. Only the first test case does.

I've got a Jest config like this:

[code]

`jest.setup.js` sets `jest.setTimeout(5000);`.

When running two test cases where I on purpose delay them (to replicate this), this is what I receive:

[code]

Notice the **5000ms** timeout (which i

[2020-04-03 12:57] mmarkelov commented on #99
@thernstig thanks for report? Could you provide your tests? And what is your config file?
[code]

Is it actual configuration?

[2020-04-03 13:27] thernstig commented on #99
Of course! I narrowed it down to what the problem is, I do not know why it happens, but you should hopefully be able to re-produce it.

I have 2 test files with this content:

[code]

Here is `jest.config.js:`

[code]

Here is `jest-playwright.config.js` (inside the rootDir)

[code]

This fails like described above. Comment out `runner: '<rootDir>/util/serialJestRunner.js',` and both test cases wi

[2020-04-03 13:29] thernstig commented on #99
Oh and here is `serialJestRunner.js` as a minimal example:

[code]

[2020-04-03 19:56] thernstig opened #101 "jest-dev-server and wait-on"
The current jest-dev-server in this package-lock.json (https://github.com/mmarkelov/jest-playwright/blob/master/package-lock.json) is:

[code]

`jest-dev-server` version `4.4.0` (https://github.com/smooth-code/jest-puppeteer/blob/master/packages/jest-dev-server/package.json) has this in its `package.json`:

[code]

How is it that `wait-on` then is only at version `3.3.0` above? I need to use featu

[2020-04-03 20:04] mxschmitt commented on #101
Since it's not bundled into the package ([ref](https://unpkg.com/jest-dev-server@4.4.0/lib/global.js)) you could probably use the [Yarn resolutions](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/) feature or their not existing [NPM equivalent](https://stackoverflow.com/questions/52416312/npm-equivalent-of-yarn-resolutions).

[2020-04-04 07:21] thernstig commented on #101
This might be out of my ballpark. I do not understand the https://unpkg.com/jest-dev-server@4.4.0/lib/global.js. I thought that when a dependency of a dependency lists a specific version, that one would be installed. We are unfortunately not using Yarn nor want to bring in such a small package as npm-force-resolutions (preferably not at least). Is there another way around this, or that you in jest

[2020-04-04 12:51] thernstig commented on #100
Ok, updates. I can see the above failure (in the post just above this) happening even if I visually look at it via headless=false and seeing that all three test cases passes i.e. they all execute and close the browser like they should.

This error has most likely existed for a few versions. I've seen colleagues get this on their computer and I just thought they had not installed the npm packages o

[2020-04-04 15:02] mxschmitt commented on #101
maybe just try: `npm install wait-on` to install the latest version of it. Otherwise we would need to create a upstream issue on jest-dev-server side.

[2020-04-06 07:34] mmarkelov commented on #101
@thernstig I'm not sure that it is **jest-playwright** issue. I suppose that ```npm install wait-on``` will help. It's better to open issue for **jest-dev-server**

[2020-04-06 10:02] mmarkelov commented on #99
@thernstig yeah! There is something wrong, when I got **runner** option. I suppose I can do something like this:
[code]

I suppose this should fix issue, but this kind of hacky solution. So idk. @mxschmitt what do you think?

[2020-04-06 16:40] mmarkelov commented on #100
@thernstig hm..
As I know `jest.setTimeout(5000)` will set the timeout globally per suite. And for example:
[code]
will set the timeout for specified test.

So 10000 can came from this case.

Not sure about `beforeAll`, cause for me:
[code]

will throw
[code]

[2020-04-06 18:23] thernstig commented on #101
You both might be right here 😄 I am going to open an issue on `jest-dev-server` to see what they say.

[2020-04-06 18:23] #101 closed

[2020-04-06 18:24] thernstig commented on #101
I think you might have to fork that package because there is not a ton of activity on jest-puppeteer.

[2020-04-06 18:35] thernstig commented on #100
Hmm I know I have this that runs before each test.

[code]

But, that part is in a beforeAll and not in each test case, which the timeouts shows above. Also, I can clearly see the test cases passing when I view it in headful mode. There is something really fishy here. Could it be a Jest bug?

[2020-04-06 18:52] thernstig commented on #100
I wonder if jest-circus solves this hmm.

[2020-04-06 19:16] thernstig commented on #100
I noticed a lot of issues on jest on timesout in async `beforeAll()`/`beforeEach()` etc. The timeouts in those ended up running test cases anyway looking the the test cases timed out. For example: https://github.com/facebook/jest/issues/8442, https://github.com/facebook/jest/issues/9685, https://github.com/facebook/jest/issues/8688, https://github.com/facebook/jest/pull/8654 and many more.

I will

[2020-04-06 19:16] #100 closed

[2020-04-09 06:52] thernstig opened #104 "Fork jest-dev-server?"
Hi!

Is there a chance to fork the jest-dev-server into this repo or a separate repo? I just submitted two new issues on jest-dev-server (see https://github.com/smooth-code/jest-puppeteer/issues/341 and https://github.com/smooth-code/jest-puppeteer/issues/342) but the overall repo (https://github.com/smooth-code/jest-puppeteer/commits/master) seems a bit stale, 5 commits in soon 4 months.

Another

[2020-04-09 07:11] mmarkelov commented on #104
@thernstig thank you for your feedback as always)
Put **jest-playwright** under organization may be a good idea, we can also put @mxschmitt packages there. @mxschmitt what do you think about it?

[2020-04-09 07:26] thernstig commented on #104
Yes, I've read lots of good about putting it all in one org. It gives a sense of quality for a project, making it more official.

[2020-04-09 07:27] mxschmitt commented on #104
makes sense @mmarkelov :)
Have you created an organisation with the name `jest-playwright`?
Seems already taken, weird.

[2020-04-09 07:44] mmarkelov commented on #104
@mxschmitt noup, it wasn't me)

[2020-04-09 08:39] thernstig commented on #99
@mmarkelov @mxschmitt I agree it looks somewhat hacky, not sure what the proper solution would be though.

[2020-04-09 14:11] thernstig commented on #99
I am unfortunately having big problem with this one, as it blocks me from actually using jest-playwright with custom selectors and a custom sequencer, which is a use case I need.

Would an idea be to implement the above as a temporary solution till you come up with something non-hackish? I would very much appreciate it :)

[2020-04-09 14:14] mmarkelov commented on #99
@thernstig ok, I'll put PR to fix this soon and publish version with fix

[2020-04-09 16:02] mmarkelov commented on #99
I will keep it open, cause now it's kind of hacky solution

[2020-04-09 16:08] mmarkelov commented on #99
@thernstig should be fixed in **0.1.2**

[2020-04-09 17:21] thernstig commented on #99
Amazing, thanks, will test it tomorrow.

[2020-04-09 17:28] thernstig commented on #50
This also hit me now, when I for the first time tried two simple test in parallell or in serial (inband). I have a more elaborate setup with the jest-dev-server like so:

[code]

I use the `usedPortAction: 'ignore'` since a user sometimes might have manually started our dev server (via `npm start`) so I've tried to make it work for both scenarios i.e. if it doesn't run it is started.

From @aesyon

[2020-04-09 21:34] celeryclub commented on #85
@thernstig I'm using this plugin with jest-circus and everything has been working well for me. Here's how I'm taking screenshots of test failures.

[code]

[2020-04-10 06:46] thernstig commented on #85
@celeryclub Thanks! Yes, async handleTestEvent just landed in yesterday in Jest 25.3.0 https://github.com/facebook/jest/releases/tag/v25.3.0 (MR https://github.com/facebook/jest/pull/9397)

[2020-04-10 11:56] mmarkelov commented on #85
@thernstig yeah! I just checked https://github.com/playwright-community/jest-playwright/issues/85#issuecomment-611763662 and seems like it's work fine. I'll add some info about this approach in documentation

[2020-04-10 12:04] mxschmitt commented on #104
@thernstig we'll give him 1 week to respond, otherwise we will rewrite the package in TypeScript in a fork.

[2020-04-10 12:36] thernstig commented on #99
The workaround works 💯 Good job, and thanks. I also still agree a more robust solution should probably be used.

[2020-04-10 13:09] thernstig commented on #104
I did realize 🥂 Nice to see this whole community of packages progressing.

[2020-04-10 17:00] thernstig commented on #85
I have now also verified everything works nicely with `jest-circus`. Should we close this issue, or keep it open till maybe some info has been added in README.md about extending `PlaywrightEnvironment`?

Here is an example of a suggestion that could go into the README:

[code]

[code]

It'd also be good to explicitly mention that handleTestEvent only works if the runner is set to use `jest-circus`

[2020-04-10 20:20] #85 closed

[2020-04-11 18:28] #99 closed

[2020-04-11 19:45] aesyondu commented on #50
After adding quite a number of tests, `bin/rails server` couldn't handle the load for the whole test suite. So I went back to using the jest-playwright server config. This way it will restart the server for every test file.

[2020-04-12 10:58] thernstig commented on #50
@aesyondu I am not sure I understand that. Why would `bin/rails server`  starting once overload the server?

I've changed my setup to use `globalSetup` and `globalTeardown` like described here https://github.com/smooth-code/jest-puppeteer/tree/master/packages/jest-dev-server#usage. In my case the `command` starts a Node.js express web server, which just handles e2e tests for me. Even if we conside

[2020-04-15 18:34] celeryclub opened #107 "Feature request: Opt out of failure on pageerror"
Hey team. Got a feature request here. It looks like a `pageerror` will always fail the current test (based on this LOC).
https://github.com/playwright-community/jest-playwright/blob/1dcafbd1426625ee11566654ab5b4d077a50af8e/src/PlaywrightEnvironment.ts#L16

Could we allow this to be turned off? In my use case, I have a third-party script sometimes throws errors that I want to ignore, but I want to

[2020-04-15 19:07] mxschmitt commented on #107
Hi there!

would you either want to completely turn this feature on/off or maybe add a custom intercept function, which will do something like `uncaughtExceptionInterceptor: (error) => !error.includes("foo")` in the end to ignore a specific error?

I feel open about both designs, but probably the second one does fit better for your use case right?

[2020-04-15 20:51] celeryclub commented on #107
I actually think just disabling would address my use case, since it's easy enough to set up my own `page.on('pageerror')` handler. Thanks!

[2020-04-15 21:42] celeryclub commented on #107
Also I'm happy to work on this. I was thinking of perhaps a config option called `failOnPageError` that defaults to `true`. What do you think?

[2020-04-15 21:51] mxschmitt commented on #107
sounds awesome, yes. `failOnPageError` which is per default `true` sounds great. If you need further advice, let us know. 👍

[2020-04-15 22:02] celeryclub commented on #107
Sooo... as soon as I started working on this, I found the existing config option called `exitOnPageError`. But it doesn't seem to be hooked up to anything. Do you know what the story is with that? Should I just wire that on up instead of making a new one?

[2020-04-15 22:13] celeryclub commented on #107
I'm going to assume "yes" for now, but obviously happy to change this if you think that makes sense. :)

[2020-04-16 17:12] #107 closed

[2020-04-17 16:47] jgoux opened #109 "Usage along with testing-library (jest-dom, react)"
Hello,

I'd like to give jest-playwright a try to make e2e tests inside my project.

Right now I'm using [testing-library](https://testing-library.com/docs/react-testing-library/intro) to unit/integration test my React components.

I tried adding jest-playwright to my project to add e2e tests but now my test suite is failing with this error for every tests (even non e2e tests) :

[code]

I looked

[2020-04-17 17:20] mxschmitt commented on #109
Hello,
which operating system are you using?

this message mostly comes along if you haven't installed all the required dependencies of the browsers.

[2020-04-17 18:19] jgoux commented on #109
I'm using WSL2 (Ubuntu).
I installed all the required system dependencies from https://github.com/microsoft/playwright/blob/master/docs/docker/Dockerfile.bionic

Maybe WSL2 needs special arguments to launch Chromium.

[2020-04-17 18:35] #109 closed

[2020-04-23 23:32] mxschmitt opened #110 "feat: access current device and browser inside a test"
Maybe just add browser and device to the globals.

cc @mmarkelov

[2020-04-24 06:39] mmarkelov commented on #110
@mxschmitt we have browser in global
https://github.com/playwright-community/jest-playwright/blob/8ad11b9e75341bc845c4f8a49d9e7b9ea576abe0/src/PlaywrightEnvironment.ts#L133

Adding current device to the global may be a good idea

[2020-04-24 07:54] mxschmitt commented on #110
I mean browser name. But could be fetched via browser.name()

[2020-04-24 15:20] #110 closed

[2020-04-25 12:18] thernstig opened #112 "jest -t 'some spec' still launches browser contexts for suites where no tests are run"
The following command `jest -t 'some spec'` still launches browser contexts for suites where no tests are run. This is unnecessary and bit unfortunate in the case where you run in headful mode.

Imagine you have one very specific test case like `it('uploads file in the cool-app')` and you run `jest -t 'uploads file in the cool-app'`, but you have multiple test files. Then each test file will launc

[2020-04-27 07:02] thernstig opened #114 "Output error when running headful with no display attached"
Let's say you ssh to a remote host and run jest-playwright there. Then if you run with `headless=false` you get this error:

[code]

It would be nice if it gives an error message that is understandable in this scenario. Is this maybe a Playwright bug?

[2020-04-27 18:27] mxschmitt commented on #114
This should be handled better in the Playwright upstream repo in my mind. Something like "No virtual desktop recognised" should be logged from my point of view.

[2020-04-27 18:28] #114 closed

[2020-04-27 18:29] thernstig commented on #114
@mxschmitt Will do!

[2020-04-27 18:30] thernstig commented on #114
https://github.com/playwright-community/jest-playwright/issues/114

[2020-04-27 23:35] ashubham opened #115 "ReferenceError: document is not defined"
It is accompanied by:
[code]

My jest.config.js looks like this:
[code]

[2020-04-28 13:09] mmarkelov commented on #115
@ashubham thanks for report. I suppose this is because **JestPlaywright** underhood extends **node-env**. I'll do it configurable.

[2020-05-01 08:05] thernstig commented on #104
@mxschmitt Any chance you want to fork it :)? I've got three issues reported, no reply:

https://github.com/smooth-code/jest-puppeteer/issues/342
https://github.com/smooth-code/jest-puppeteer/issues/341
https://github.com/smooth-code/jest-puppeteer/issues/340

[2020-05-01 16:44] mxschmitt commented on #104
Not sure if we should proceed with that. The future is probably something like that: https://github.com/microsoft/playwright-runner/issues/9

cc @mmarkelov what do you think?

[2020-05-02 05:15] aesyondu commented on #50
I didn't understand it either. Only now did I realize that I needed to sign_out ALL users before cleaning the database, since the sessions keeps lingering after cleaning the database:

(I have an API exposed for testing only so that I can clean the database using playwright, I took the idea from https://medium.com/@lachlanmiller_52885/e2e-tests-with-cypress-io-and-rails-b652d6ff96db and signing ou

[2020-05-02 09:03] thernstig commented on #104
@mxschmitt Interesting. I had missed playwright-runner entirely, thanks. How you do recon that will pan out in relation to jest-playwright?

[2020-05-02 09:10] mxschmitt commented on #104
It will probably replace jest-playwright in the long term. But still heavily under development.

[2020-05-06 15:35] mmarkelov commented on #104
@mxschmitt @thernstig I suppose we should fork it for a while. Cause **playwright-runner** is under development

[2020-05-06 15:37] mmarkelov opened #117 "Migrate to lerna"
I suppose we should separate package into small ones:
- **jest-playwright-environment**
- **jest-playwright-runner**
and some others

[2020-05-06 16:13] thernstig commented on #104
@mmarkelov If you wish I would of course not mind 😄

[2020-05-06 16:55] mxschmitt commented on #117
I personally would create separate repos for that because the runner is not very related. And the environment does not need to be in a own repo in my mind.

[2020-05-08 10:50] mmarkelov commented on #117
@mxschmitt yeah! It may be a good idea

[2020-05-08 19:21] mmarkelov commented on #61
Should be totally fixed in **next** release

[2020-05-08 19:21] #61 closed

[2020-05-10 13:05] #117 closed

[2020-05-13 19:28] l-abels opened #120 "Searching the wrong directory for config when using Jest `projects` option"
My directory structure looks like this:

[code]

The outermost Jest config uses the `projects` field to run other Jest projects.  Each project uses its own config file, and `<rootDir>` replacement refers to the folder containing the Jest config specific to that project.

The inner Jest config in `visual-tests` is the one that uses the `jest-playwright-preset`.

Expected behavior:
The runner looks

[2020-05-14 11:50] mmarkelov commented on #120
@l-abels thank you for your report. I just made small repo to represent this bug https://github.com/mmarkelov/jest-playwright-projects-example

And seems like it doesn't work with **jest-playwright-preset@next** but it should work with current version.

I suppose I can fix it for next release, but to be clear could you provide about your **jest-playwright-preset** version

[2020-05-14 12:24] mmarkelov commented on #120
For **next** version seems like it came from here:
https://github.com/playwright-community/jest-playwright/blob/d41ca513b8ce070d2f6d9589455035298602de04/src/PlaywrightRunner.ts#L84
So `this._globalConfig.rootDir` isn't what I expected, seems like that right `rootDir` is in tests config - `tests[0].context.config.rootDir`

[2020-05-14 21:40] samuelmaddock commented on #50
The module this one is inspired by, [`jest-puppeteer`](https://github.com/smooth-code/jest-puppeteer), has the desired behavior of setting up the dev server once for all tests.

The code which should be handling this was not implemented in jest-playwright: https://github.com/playwright-community/jest-playwright/blob/570f75b9bac3459398368abb602c8003a5216556/src/global.ts

Instead of setting up the

[2020-05-15 10:51] mmarkelov commented on #115
I just published **jest-playwright-preset@next**. With it you can configure it with your custom **testEnvironment**:
[code]

Also I just made [jest-playwright-jsdom](https://github.com/playwright-community/jest-playwright-jsdom). You can use it as your **preset**:
[code]

[2020-05-15 10:51] #115 closed

[2020-05-16 14:04] thernstig opened #123 "Jest Playwright vs Playwright Runner"
So going forward, I do think Jest Playwright has its place and I am unlikely to change. The reason is, that as far as I understood Playwright Runner, it does not use Jest to launch tests. I deducted this from a comment from the developer of Jest Runner, which stated that it does not run in a vm jescontext. Which Jest does.

If Playwright Runner does not run with Jest as the actual test Runner, it

[2020-05-16 14:09] thernstig commented on #123
I most likely did misunderstand Playwright Runner since it does use the Jest config, see https://github.com/microsoft/playwright-runner. But then I have no idea how and why it does not run within a vm. Maybe due to the fact that hey implement some kind of custom Jest environment and runner, which means you can decide to not use a vm.

I do however then wonder if it is still possible to run Playwri

[2020-05-16 15:18] mxschmitt commented on #123
Hey, this project is not related to the `playwright-runner` project. We are using currently for the release candidates a version which uses Jest Runners under the hood, but thats mainly for easing up the process with multiple browsers / devices. (will be released soon to the normal channel)
I also don't know all the details when its using a V8 VM and when not. But that should normally not cause an

[2020-05-18 08:45] #50 closed

[2020-05-18 13:04] thernstig commented on #123
@mxschmitt I certainly understand that this project is not related to `playwright-runner` 😃 It also has nothing to do with that specific `instance of` issue.

The point of this issue was to understand the differences between using `jest-playwright` and `playwright-runner`. It's entirely possible this is impossible to answer now as `playwright-runner` is under development.

Many projects have a "co

[2020-05-18 13:09] mxschmitt commented on #123
I would not make a comparison until playwright-runner is not fully ready.

Differences in my mind (@mmarkelov please add more / feel free to edit):
- jest-playwright: has support for custom launch/context options
- playwright-runner: native support for TypeScript
- jest-playwright needs e.g. [jest-ts](https://github.com/kulshekhar/ts-jest)
- both have support for multiple browsers
- both are based

[2020-05-18 13:26] mmarkelov commented on #123
@thernstig yeah! I agree with @mxschmitt that it’s very difficult to make comparison right now. **playwright-runner** may be a good solution, when it will be ready. For now I don't have any plans about stopping maintain this library. We should wait until the **playwright-runner** will be ready. And then we could make decisions about future.

[2020-05-18 18:44] thernstig commented on #123
That is great news, that is something I was afraid of 😃

[2020-05-18 21:34] mxschmitt commented on #123
Closed for now. 👍

[2020-05-18 21:34] #123 closed

[2020-05-19 18:59] #120 closed

[2020-05-20 16:40] celeryclub opened #125 "Unable to use @next version of playwright"
Hey team. 0.2.0 is looking good! Thanks for all your work on that.

I'm trying to test a bugfix in playwright that hasn't been released yet. I'm running `npm i --save playwright-chromium@next` to get the latest commit, but when I do that I get the following error.

<details>
<summary>Error: Cannot find module 'playwright-core'.</summary>
Error: Cannot find module 'playwright-core'
Require stack:
-

[2020-05-20 17:07] mxschmitt commented on #125
Hey!

Probably its because the require of playwright-core there to get the devices: https://github.com/playwright-community/jest-playwright/blob/76c7fa2adab652f5e58d2d39dbf9cf7b6729aded/src/PlaywrightRunner.ts#L57-L62

Can we do it with getPlaywrightInstance? @mmarkelov

[2020-05-20 17:35] mmarkelov commented on #125
@mxschmitt youp! I suppose we can. I should take a look

[2020-05-22 07:27] mmarkelov commented on #125
Should be fixed in #127
I'll publish new version with this fix soon

[2020-05-22 07:27] #125 closed

[2020-05-22 15:38] celeryclub opened #129 "Unable to run specs in v0.2.1"
Hey team. I'm afraid that v0.2.1 may have introduced a bug. After upgrading I'm unable to run any specs at all. It always gives me `Test Suites: 0 of x total`, whether or not I filter by filename.

[code]

[2020-05-23 19:38] mmarkelov commented on #129
@celeryclub was it ok in previous version?

[2020-05-23 19:59] celeryclub commented on #129
Yes v0.2.0 works well for me.

[2020-05-23 20:11] mmarkelov commented on #129
@celeryclub thanks for report. Try to fix it

[2020-05-23 20:29] #129 closed

[2020-05-23 20:33] mmarkelov commented on #129
@celeryclub it was silly bug, I just fixed it and published new version.You can take a look

[2020-05-23 20:45] celeryclub commented on #129
Thanks for the quick turnaround @mmarkelov!

[2020-05-26 12:38] mxschmitt opened #133 "Share browser instance for multiple test files"
- Start browsers in the runner
- Pass `wsEndpoint` to the tests and the environment
- Stop the browsers on exit

So we create a new Context for each test. Should increase the speed much.

[2020-05-28 21:07] mxschmitt opened #136 "browsers.flatMap is not a function"
[code]

Solution would be either to polyfill it manually or to use babel with the typescript preset for transcompiling the source code.

Probably the easiest would be to use that: https://www.npmjs.com/package/array.prototype.flatmap

Seems to be well maintained and famous.

[2020-05-29 06:36] mmarkelov commented on #136
@mxschmitt I just replaced it in #131, but it wasn't published yet, so I just publish **0.2.3**

[2020-05-29 07:57] #136 closed

[2020-06-08 05:34] aesyondu opened #137 "[Question] How to retrieve current test name in jest-circus?"
I mentioned [here](https://github.com/facebook/jest/issues/5292#issuecomment-612445672) how I retrieve the current test name when using the jasmine runner.

Now I've updated jest-playwright-preset to 0.2.3 and noted that I'm getting an error:
[code]

I noticed that in the 0.2.0 release the jest-circus became the default runner, which is probably the cause of the error. I'm currently searching for

[2020-06-08 05:53] aesyondu commented on #137
Oops I think this is explained in the readme. My bad.

[2020-06-09 11:38] narthollis opened #139 "Attempting to use -firefox with -chromium installed results in TypeError"
I have just starting playing with jest + playwright and was trying to run multiple browser configurations when I ran into this issue.

The error I am getting is
[code]

jest.config.js
[code]

jest-playwright.config.js
[code]

basic.test.js
[code]

[2020-06-09 11:45] narthollis commented on #139
Having a read of the source I believe that the issue is that the `checkDependencies` function is always returning the `playwright-chromium` package if it is installed.

https://github.com/playwright-community/jest-playwright/blob/00e15e560087585cc6dc5387e026912c737eb682/src/utils.ts#L20-L29

which is causing `readPackage` to also always return `playwright-chromium` https://github.com/playwright-co

[2020-06-10 09:16] mmarkelov commented on #139
@narthollis seems like a bug. As I understood you got separated playwright packages.
[code]

And you try to running tests for `firefox`?

[2020-06-10 09:17] narthollis commented on #139
Yeah, this is correct.

On Wed, 10 Jun 2020, 18:47 Maksim Markelov, <notifications@github.com>
wrote:

[2020-06-10 11:13] mmarkelov commented on #104
I think we can close it. We got [`jest-process-manager`](https://github.com/playwright-community/jest-process-manager)

[2020-06-10 11:13] #104 closed

[2020-06-11 18:48] pavanreddy61 opened #141 "Expose BrowserType via some means for tests or jest-circus"
I was thinking to take screenshots and separate them with browserName ... as sameSpecName error screenshots override each other. Was using jest-circus and defined browsers array in **jest-playwright.config**

Or Is this already exposed somehow?

[2020-06-11 19:25] mxschmitt commented on #141
Hi, yep it is, as `browserType` (global var). We should document it somewhere.
Ref: https://github.com/playwright-community/jest-playwright/blob/master/src/PlaywrightEnvironment.ts#L88

[2020-06-12 06:24] pavanreddy61 commented on #141
THanks @mxschmitt It works now

[2020-06-12 07:16] mxschmitt commented on #141
Want to keep it open until we have documented the globals.

[2020-06-13 12:53] #139 closed

[2020-06-15 06:22] narthollis commented on #139
@mmarkelov Any ideas when this might be released?

[2020-06-15 07:01] mmarkelov commented on #139
@narthollis sorry for late response. I just published **0.2.4**, that should fix your issue. Thanks!

[2020-06-15 07:10] narthollis commented on #139
Thats working! Thanks very much.

[2020-06-15 09:04] #141 closed

[2020-06-15 10:20] mxschmitt opened #144 "Bump Playwright to 1.1.1"
Upgrade it to the latest version.

Blocked by https://github.com/microsoft/playwright/issues/2540

types diff which would work:

[code]

[2020-06-15 10:24] mmarkelov commented on #144
@mxschmitt youp! I got problems with it in https://github.com/playwright-community/jest-playwright/pull/138

[2020-06-15 12:15] mxschmitt commented on #144
Let's keep it open until its fixed upstream so we can revert our workaround.

[2020-06-18 11:12] #133 closed

[2020-06-18 13:31] mmarkelov commented on #104
@thernstig we just published new prerelease version, it used [`jest-process-manager`](https://github.com/playwright-community/jest-process-manager). You can try it:
`npm install jest-playwright-preset@next`

[2020-06-18 14:38] thernstig commented on #104
Awesome, will try to test this next week. Swamped with work right now. Looking forward to https://github.com/playwright-community/jest-process-manager/issues/4 sometime in the future as well :)

[2020-06-20 20:32] alexgwolff opened #148 "feat: custom playwright instance from config"
Hi, I have a project more or less like react-create-app.
When jest-playwright try resolver playwright instance from project.json there any playwright in dependencies or devdependencies so this fail, because jest and playwright living in another package.
Theres some way to define playwright instance from jest config files?

thanks

[2020-06-21 12:12] mxschmitt opened #149 "docs: document best practise by having a separate jest.e2e.config.js file"
- `jest.e2e.config.js`
- `-c` option

[2020-06-21 15:53] mmarkelov commented on #148
@alexgwolff thanks for the report. Seems like the check of `package.json` for `playwright` instances should be rewritten.

[2020-06-22 02:26] alexgwolff opened #152 "bug: jest-playwrigth and type module project"
Hi folks,

_package.json_
[code]
and i got this error:
[code]

The problem living here
https://github.com/playwright-community/jest-playwright/blob/d8212bfdcd4b283422499d954a92f0feffe89b77/src/utils.ts#L187

[2020-06-22 05:50] narthollis opened #153 "Allow for empty/null/undefined entry devices in jest-playwright.config.js"
When using `devices` in ` jest-playwright.config.js` you lose the ability to run outside of one of the defined devices.

I would find it useful it it would be possible to add an entry to devices (null/undefined/empty string) (or another boolean flag adjacent to devices?) that rather than loading a device profile would just run under the default settings.

This would allow for testing desktop, and

[2020-06-22 06:13] narthollis commented on #153
I have found a work around - although it feels somewhat hacky...

[code]

[2020-06-22 06:53] mmarkelov commented on #152
@alexgwolff thanks for report.
`jest-playwright` try to load `jest-playwright.config.js` underhood:
https://github.com/playwright-community/jest-playwright/blob/d8212bfdcd4b283422499d954a92f0feffe89b77/src/utils.ts#L170-L171
But you could rename your config to `jest-playwright.config.cjs` and run tests with this command:

[code]

[2020-06-22 06:59] mmarkelov commented on #153
@narthollis thank you for report. Sounds reasonable. I'll take a look

[2020-06-22 08:28] #148 closed

[2020-06-22 11:23] #149 closed

[2020-06-22 18:17] mxschmitt opened #156 "feature: Allow browser specific launch arguments"
Not sure whats the best way for integrating this feature, either with callbacks or with something else.

Use case:
- Environment which uses user root
- Tests multiple browsers including chrome
- Chrome won't start because --no-sandbox argument was not specified.

Requested by @arjun27 via Slack.

[2020-06-23 11:49] DavidZidar opened #158 "Performance issue and websocket error"
I just upgraded to version 1.0.0 and immediately noticed that my test suite takes much longer to run, now about 18 seconds when it finished in about 10 seconds before. My guess is there is something slow going on during startup because the first test result takes much longer to show up as done.

Even worse, every other time or so that I run my tests I get the following error during startup:
[code]

[2020-06-23 13:36] mxschmitt commented on #158
Hi @DavidZidar, which version of Playwright are you using? Playwright has afaik currently on the latest version with performance.

[2020-06-23 13:38] mmarkelov commented on #158
@DavidZidar thank you for report. It will be nice if you could provide some more details. Your configuration, tests example, cause right now it's quite difficult to say what is wrong.
@mxschmitt what do you think about it? Seems like that problem could be in #134, #138 or #147

[2020-06-23 13:45] DavidZidar commented on #158
@mxschmitt I'm using Playwright v1.1.1 both before and after, the only thing I changed was jest-playwright-preset version.

@mmarkelov Any specific thing you need to know about the configuration?

[2020-06-23 13:50] mxschmitt commented on #158
@DavidZidar are you having multiple test files? multiple browsers / devices?

[2020-06-23 13:54] DavidZidar commented on #158
Currently have 7 test files that Jest runs in parallell, they test two related websites running locally on my machine and I'm only using `playwright-chromium`.

[2020-06-23 13:56] mmarkelov commented on #158
@DavidZidar can you try **1.0.0-rc1** version?
@mxschmitt if the issue will be reproduced in **1.0.0-rc1**, that seems like something is wrong with reusing browser

[2020-06-23 14:03] DavidZidar commented on #158
Just tried 1.0.0-rc1 and I'm still seeing the same issue

[2020-06-23 14:04] DavidZidar commented on #158
I only see one chromium instance opening though

[2020-06-23 15:23] mmarkelov commented on #158
@mxschmitt maybe we can make reusing browser optional? Cause right now I don't have ideas how to fix it

[2020-06-23 15:27] mxschmitt commented on #158
I'll try to make a test to find out the cause for it instead of dropping the whole thing. Since its only a performance topic which adds a few seconds, I would only consider it as a medium issue instead of a super critical one.

[2020-06-23 15:52] DavidZidar commented on #158
It is not only a performance issue, the tests completely fail to run when the error is thrown.

I see it happening mostly when I try running the tests twice in a row.

[2020-06-24 11:00] mxschmitt commented on #158
@DavidZidar you are on Windows right? Thats maybe the issue, I can try to setup a VM and debug it myself.

[2020-06-24 11:15] axis-magnusd opened #165 "Subsequent tests within the same spec runs within the same page with hashrouting"
When running multiple tests within a single spec and utilising hash routes the page object does not appear to reload the page, causing inter test dependencies- ie. all the tests will leave their state for the upcoming test case.

Would it be possible to either make the current behaviour an opt-in per spec or expose an option to opt-out if this will continue to be the default behaviour?

[2020-06-24 12:27] DavidZidar commented on #158
@mxschmitt That's right, I'm on Windows. I created this minimal repo https://github.com/DavidZidar/jest-playwright-preset-bug and can reproduce the issue fairly easily by running `yarn test` a couple of times.

While trying to reproduce the error this new error happened once, the last test never even finished, I aborted after a minute or so.
[code]

[2020-06-24 12:33] mmarkelov commented on #158
@DavidZidar thank you for representation repo. I just tried to run it with Mac and it is OK. Seems like @mxschmitt is right, cause it maybe something that related to Windows
<img width="397" alt="Снимок экрана 2020-06-24 в 15 30 17" src="https://user-images.githubusercontent.com/22371328/85556937-fe09e180-b62f-11ea-9cb3-fc8eadbea8d3.png">

[2020-06-24 12:35] DavidZidar commented on #158
You may be right. To be clear though the error doesn't happen every time, I tried it again and had to run it four times before the error happened this time.

[2020-06-24 12:40] mmarkelov commented on #165
@axis-magnusd thank your for report. Could you please provide some general wrong tests?

[2020-06-24 14:09] mxschmitt commented on #158
@mmarkelov we can try to run the examples repository on windows. Maybe then we can quickly see if something goes wrong.

[2020-06-24 14:31] mxschmitt commented on #158
I've tested jest-playwright on windows: https://github.com/playwright-community/jest-playwright/pull/166 and the examples repository, which are also passing (except one which is already fixed upstream and has nothing to do with this issue) https://github.com/playwright-community/playwright-jest-examples/pull/10/checks?check_run_id=803718562. So could you give us maybe more information about your e

[2020-06-24 14:53] DavidZidar commented on #158
Hmm, to take the specific machine out of the question as it is a corporate laptop that I don't have full control over I tried reproducing the issue on my home workstation. At first I didn't have much success as the tests ran too quickly so Jest started running them in series instead of in parallel. My home workstation also has a lot more CPU cores so that may also be an issue.

I was however able

[2020-06-24 15:06] DavidZidar commented on #158
Oh, and if it helps, both machines are running Windows 10 (but different versions, 1809 and 2004) and NodeJS version 14.4.0.

[2020-06-24 16:16] mxschmitt commented on #158
Thanks! Will check it out later. So it's reproducible on both Windows 10 versions?

[2020-06-24 16:46] DavidZidar commented on #158
Yes, that's right. I have a harder time reproducing it on my home workstation though, but these are all the classic smells of a race condition.

[2020-06-24 21:52] mxschmitt commented on #158
@DavidZidar could you try to use the `@next` versions of Playwright? These are the bleeding edge versions, it seems like it's already fixed upstream. So just `yarn add playwright-chromium@next` in the case with the reproducible.

Before with 1.1.1: 3/5 runs failed
After with `@next` 0/5 runs failed

[2020-06-25 09:00] DavidZidar commented on #158
Just tried upgrading to `playwright-chromium@next` and I can confirm the crashing issues I've had are gone! Great success.

It is still running much slower than before though, but that's not as bad as outright crashing.

[2020-06-25 09:21] mmarkelov commented on #156
Yeah, sure. I'll take a look

[2020-06-25 10:34] #153 closed

[2020-06-25 10:46] narthollis commented on #165
I ended up adding
[code]

to each of my describe blocks

[2020-06-25 14:57] forxtu opened #172 "Run multiple browsers at the same time"
Hey!

I want to run multiple browsers for each test and I see that you have `browsers` option for `jest-playwright.config.js` file.
But it doesn't work for me as it should. It opens all of the listed browsers but doesn't open test cases on them.

Am I doing something wrong or this options is not working as it supposed too? Any help or working examples of implementation will be highly appreciated!

[2020-06-25 14:59] mxschmitt commented on #172
Hey!

could you provide us maybe your `jest-playwright.config.js` and a minimal test?

Here you can find a few examples which should demonstrate how it works: https://github.com/playwright-community/playwright-jest-examples/tree/master/basic

[2020-06-25 16:31] forxtu commented on #172
@mxschmitt  thanks for the answer!

`jest-playwright.config.js` is pretty straightforward

[code]

I see that in examples that you provided before you use `page` as global object, and I got an `undefined` if I try to use it as global. Should I declare it somehow? I found related topics to global installation for puppeteer, and I think for playwright it should be pretty similar, but I can't find a

[2020-06-25 17:18] mmarkelov commented on #172
@forxtu `page` can be not defined, if you don't pass `jest-playwright-preset` to `jest`:
https://github.com/playwright-community/jest-playwright#usage

[2020-06-26 00:44] narthollis opened #174 "[Question / Feature Request] Skip test for some browser/device combinations"
If we need to run a device / browser specific test, what is the best way of executing this?

From what I can see, the best way to do this currently would be an condition at the start of the test checking `browserName` and `deviceName` and returning early if the test should not be executed for this device/browser.

[code]

Is this the best way of skipping tests for some browsers/devices? Is there a

[2020-06-26 07:06] forxtu commented on #172
@mmarkelov I have preset property set. I use 2 separate configs `jest.config.js` and `jest.e2e.config.js`. I've tried different options - set preset in package.json, in jest config and in separate configs. Still keep getting `undefined`. Should I setup globals in jest config and create my own environment with setup as in puppeteer?

[2020-06-26 07:17] mmarkelov commented on #172
@forxtu I'm not sure about you issue. I can be related to [ESLint globals](https://github.com/playwright-community/jest-playwright#eslint-globals--page-is-not-defined)

But it also can be `undefined` if `jest-playwright-preset` was not set correctly

[2020-06-26 08:32] mmarkelov commented on #174
@narthollis it will be a useful feature. It will be nice to use it in `jest` style, like so:
[code]

I'm not sure if it will be easy to implement, but I'll try

[2020-06-26 08:33] forxtu commented on #172
@mmarkelov Oh I've managed to make it work - I had jest-environment set to "jsdom" that's why I had `page` as `undefined`. I've changed it and now it works.

Thanks for your help and great libs :)

[2020-06-26 08:44] #172 closed

[2020-06-26 21:36] p0x6 opened #176 "TypeError: Cannot destructure property 'name' of 'device' as it is null."
getting this error when trying to run tests

[2020-06-26 21:38] mxschmitt commented on #176
Could you provide us your jest-playwright.config.js?

[2020-06-26 22:07] p0x6 commented on #176
sure!

here's the `jest-playwright.config.js`

[code]

i'm using 1.1.0

[2020-06-26 22:08] p0x6 commented on #176
i'm also trying to integrate with `jest-runner-groups` so i can separate out the mock backend tests for integration and the live api calls for e2e. i think that's what's causing the issue

[2020-06-26 22:42] p0x6 commented on #176
yea, removing jest-runner-groups fixed the error. to run different sets of tests, i'll probably need to have multiple jest configs and tests either in different folders or have different names. is there a better way to do this?

[2020-06-28 13:24] #156 closed

[2020-06-28 15:05] vrknetha opened #177 "Is playwright-core node module is needed to get types"
Using jest playwright preset,

I have done all the configuration mentioned in the documentation but i am not getting any types while coding. I have not installed playwright core but i have installed total playwright node module.

But the global.d.ts import the modules from playwright-core. Due to that, i am not getting intellisense. But , once i change the import from playwright-core to playwright

[2020-06-28 15:17] mxschmitt commented on #177
Thats an upstream issue, already tracked here: https://github.com/microsoft/playwright/issues/2540

As a workaround, you can install `playwright-core` manually.

[2020-06-28 15:22] vrknetha commented on #177
Thank you for getting back ...quickly. I will do a manual install.

[2020-06-29 06:28] mmarkelov commented on #176
@p0x6 I just look through `jest-runner-group` and it is using custom test runner under hood, just like `jest-playwright`. So you got this error. I'm not sure, but maybe setting [`projects`](https://jestjs.io/docs/en/22.x/configuration#projects-arraystring--projectconfig) in your **jest config** will help you

[2020-06-29 15:31] jakobrosenberg opened #179 "Code completion"
I've installed `jest-playwright-preset`, but am not getting any code completion in VS Code.

I've tried
[code]
and
[code]

Both methods get rid of the red underlining of `page`, but neither adds completion.

I didn't find any documentation on how to achieve this.

[2020-06-29 15:36] mxschmitt commented on #152
Closed since no activity.

[2020-06-29 15:36] #152 closed

[2020-06-29 15:37] mxschmitt commented on #179
Hey, there is unfortunately currently an upstream bug on Playwright side. Thats why you have to install playwright-core manually.

Closing since already tracked in #177

[2020-06-29 15:37] #179 closed

[2020-06-29 17:55] Bnaya opened #180 "[Feature Request] Add resetPage & resetBrowser(/context) apis"
First, i want to thank you for this amazing library!

jest-puppeteer have apis to reset the page and browser for the current environment.
https://github.com/smooth-code/jest-puppeteer#globaljestpuppeteerresetpage

That's very helpful, if for example i want new page for each test.
So i can do something like:

[code]

It will be very helpful to have it also for jest-playwright

Thanks!

[2020-06-29 19:42] mmarkelov commented on #180
@Bnaya thank you for your report. I think we can make it)

[2020-06-29 20:37] jakobrosenberg opened #181 "page is not defined"
Getting `page is not defined` when running jest.

I've installed
`jest-playwright-preset`
`playwright-core`
`playwright`

and added the preset to my `jest.config.js`.
`preset: 'jest-playwright-preset'`

[2020-06-29 21:21] mxschmitt commented on #181
Are you using TypeScript?
Does this error come from ESLint?

[2020-06-29 21:37] jakobrosenberg commented on #181
Using javascript. AFAIK it doesn't come from javascript.

![image](https://user-images.githubusercontent.com/4153004/86058605-770a9e00-ba61-11ea-83e8-d6d60ed6753a.png)

[2020-06-29 21:40] mxschmitt commented on #181
How do you start your Jest tests? (maybe script section of your package.json)?
It seems like the jest environment is not correctly configured, so maybe you are using another Jest config e.g. in the package.json.

[2020-06-29 21:43] jakobrosenberg commented on #181
package.json
[code]

command:
``pnpm run test -- integration``

I did have jest configred in package.json at one point, but removed it.

[2020-06-29 22:04] #158 closed

[2020-06-30 17:47] mxschmitt commented on #144
@mmarkelov since the types are now included in playwright and playwright-chromium etc. and they are not longer using playwright-core for the types we have to use playwright-core as a dependency once they have released a new version.

[2020-07-01 11:37] #180 closed

[2020-07-02 09:44] forxtu opened #186 "Websocket is not open: readyState 3"
Hi! I ran into an issue with web socket.

I found this snippet for puppeteer.

[code]

But in case of `jest-playwright` we don't run `.launch` method manually in test, we just use global `page` to go to particular `url`. How I can re-run browser if it fails?

This issue is a bit weird because it occurs once and then if you re-run test it works (but in case of CI it always fails 1st time and it is

[2020-07-02 09:54] mxschmitt commented on #186
Hi, seems like you have not all the needed dependencies installed. Could you try to use this GitHub Action before?

https://github.com/microsoft/playwright-github-action

it will install all the needed dependencies.

[2020-07-02 10:01] mmarkelov commented on #112
I got some research on it and I don't have any ideas about it. We can't use **runner** to skip initial process. Also I tried to use **environment** for this. I also tried **handleTestEvent**, but the problem is that `test skip event` will run after `beforeAll` and `beforeEach` events

[2020-07-02 10:09] forxtu commented on #186
I have it in my GH actions. The thing is this issue occurred locally too.

<img width="598" alt="image" src="https://user-images.githubusercontent.com/18015187/86346131-282d5600-bc65-11ea-8bfa-a8ab54b28ceb.png">

[2020-07-02 10:55] Bnaya commented on #180
Thank you very much @mmarkelov !

[2020-07-02 11:13] mxschmitt commented on #186
Which version of Playwright are you using?

[2020-07-02 11:19] forxtu commented on #186
[code]

[2020-07-02 13:06] karthikiyengar commented on #176
Also running into this.
[code]

Where PlaywrightEnvironment is
[code]

jest.config has the following options
[code]

[2020-07-02 13:11] karthikiyengar commented on #176
This probably comes down to https://github.com/playwright-community/jest-playwright/blob/master/src/PlaywrightEnvironment.ts#L108 - a `!=` instead of a `!==` would fix this issue.

[2020-07-02 13:18] karthikiyengar opened #188 "Setting up an environment with persistentContext"
**Is your feature request related to a problem? Please describe.**
In order to test Chrome Extensions (and other persistent use cases), it would be nice if chrome can be launched in persistent mode. Explicitly passing a `userDataDir` to launch results in
```userDataDir option is not supported in `browserType.launch`. Use `browserType.launchPersistentContext` instead```

**Describe the solution you

[2020-07-02 14:04] thernstig commented on #176
Also getting this when I upgraded from `0.1.3` to `1.2.0`. I am using a custom environment. Here is a minimal repro with a minimal custom environment:

[code]

It fails on the `await super.setup();` with the error `TypeError: Cannot destructure property `name` of 'undefined' or 'null'.`

Really want to upgrade to verify using https://github.com/playwright-community/jest-process-manager as I promis

[2020-07-02 14:32] mmarkelov commented on #176
It seems like that the last two comments are not related to the original issue. I steel can't reproduce this bug, but it seems like that there is some cases when `device` is `undefined`, which cause this bug. I'll merge #189, seems like it will fix this one.

[2020-07-02 15:11] thernstig opened #190 "Not possible to run custom environment - error output: TypeError: Cannot destructure property 'name' of 'undefined' or 'null'"
Getting this when I upgraded from `0.1.3` to `1.2.0`. I am using a custom environment. Here is a minimal repro with a minimal custom environment:

[code]

It fails on the `await super.setup();` with the error `TypeError: Cannot destructure property 'name' of 'undefined' or 'null'.`

Really want to upgrade to verify using https://github.com/playwright-community/jest-process-manager as I promised to

[2020-07-02 15:12] thernstig commented on #176
Wrote new issue here: https://github.com/playwright-community/jest-playwright/issues/190

[2020-07-02 15:13] mmarkelov commented on #190
@thernstig I just published **1.2.1**, hope it will help

[2020-07-02 16:50] thernstig commented on #190
Will test and come back to you!

[2020-07-02 19:39] mxschmitt opened #191 "Docs: reference to official examples"
Docs: reference to that: https://github.com/playwright-community/playwright-jest-examples

[2020-07-03 11:07] thernstig commented on #190
I can verify that it works with `1.2.1`! 🎉

[2020-07-03 11:07] #190 closed

[2020-07-03 13:14] karthikiyengar commented on #188
I'm pretty sure there's a more DRY way to do this, but I've opened https://github.com/playwright-community/jest-playwright/pull/192 to kickstart a discussion. Note that the browser global will be `undefined` in case we use the `persistentDataDir` variable.

Additionally, it looks like there's a playwright bug that needs to be addressed around this behaviour. I've opened an issue to track it here:

[2020-07-04 09:02] mmarkelov opened #194 "[DOCS] Add info about using different browser launch types"
#193 #188

[2020-07-04 17:20] mxschmitt commented on #186
@forxtu could you try to install playwright@next and to check if it still happens? If I remember correctly, this was a temporary issue by Playwright itself and might be already fixed in their next release.

[2020-07-05 17:14] mmarkelov commented on #158
@DavidZidar with **next** version you are able to configure launch type of browser. So you can try, I hope it will will help your performance isuue:
[code]

[2020-07-06 13:08] karthikiyengar commented on #188
@mmarkelov - I'm not sure that your PR actually solves the issue. I'm running into the same issue as the one I described on https://github.com/microsoft/playwright/issues/2828 when there are two test files. I'm running the latest beta with the following config:
[code]
The path of least resistance to solve this (per comment [here](https://github.com/microsoft/playwright/issues/2828#issuecomment-653

[2020-07-06 14:36] DavidZidar commented on #158
@mmarkelov Hey, thanks for the update! I'm on vacation for a couple of weeks so I can't try it out right now, either a colleague of mine will try it out or I'll try it some time in august.

[2020-07-07 09:33] achwilko opened #203 "slowMo in launch options is not passed correctly"
Unfortunately, `slowMo` (https://playwright.dev/#version=v1.2.0&path=docs%2Fapi.md&q=browsertypelaunchoptions--options-slowmo) param is not passed correctly in jest-playwright launch options.

To reproduce, try below jest-playwright.config file:
[code]

 - OS: Windows
 - playwright version 1.1.1.
 - jest-playwright-preset version 1.2.1

![image](https://user-images.githubusercontent.com/5947081/86

[2020-07-07 10:51] mmarkelov commented on #203
@achwilko thank you for report. There is some issue with passing `connectOptions`.
Also I got some notes to specify what is wrong with it.
`jest-playwright` under hood is launch [browser server](https://github.com/microsoft/playwright/blob/master/docs/api.md#browsertypelaunchserveroptions) by default. After this it will connect to running server and it will use `connectOptions` passing through the

[2020-07-07 12:38] olsch commented on #158
@mmarkelov I can verify that the next version of jest-playwright-preset (currently 1.3.0-rc1) together with next version of playwright-chromium (1.2.0-next.1594082323189) solves the performance issue that @DavidZidar reported above (#158)  as long as you use `launchType: 'LAUNCH'`. Also, the crash issue appears to be gone.
When I run my tests (8 test suites / 58 tests) with `launchType: 'PERSISTEN

[2020-07-07 12:47] achwilko commented on #203
@mmarkelov that's great, thanks for the information. I will use `connectOptions` with the next release. Thanks for all your hard work done for `jest-playwright-preset` 🍻

[2020-07-07 13:32] #191 closed

[2020-07-07 13:32] #194 closed

[2020-07-07 13:39] mmarkelov commented on #144
@mxschmitt seems like we can close it?

[2020-07-07 13:40] mmarkelov commented on #203
@achwilko just published new **next** release, that should fix this issue

[2020-07-07 15:29] mxschmitt commented on #144
Yep good 👍🏽

[2020-07-07 15:29] #144 closed

[2020-07-07 15:34] achwilko commented on #203
@mmarkelov I've just tested `1.3.0-rc2` version and it's working as expected 👍 Once more, thanks for your support and update 🍻

[2020-07-07 15:44] #203 closed

[2020-07-08 06:40] #177 closed

[2020-07-08 08:49] karthikiyengar commented on #194
@mmarkelov - I'm not sure if this comment flew under the radar, but the feature is breaking for me with multiple test files. https://github.com/playwright-community/jest-playwright/issues/188#issuecomment-654224818

[2020-07-08 09:02] mmarkelov commented on #188
@karthikiyengar I can add `Date.now()` to `userDataDir` for each new browser. But just not sure that it will help

[2020-07-08 09:12] karthikiyengar commented on #188
@mmarkelov - `Date.now()` is probably not the best idea, it should probably be a function of the test suite filename/name to avoid buildup of way too many profiles.

I'm running it with `Date.now()` for now on local and it works perfectly fine. For the rationale behind this, please refer to https://github.com/puppeteer/puppeteer/issues/3440#issuecomment-433278533 and https://github.com/microsoft/p

[2020-07-08 09:15] forxtu commented on #186
Thanks for the help @mxschmitt . I'll try it.

[2020-07-08 10:21] mmarkelov commented on #188
@karthikiyengar I just don't have any experience with `launchPersistentContext`, so I can dynamically change `userDataDir` to this: `config.userDataDir/currentFilename`. Will it be nicer?

[2020-07-08 12:41] mxschmitt opened #205 "[BUG] Cannot find module '../src/types'"
Issue: jest-playwright-preset/types/global.d.ts:2:33 - error TS2307: Cannot find module '../types' or its corresponding type declarations.
release: next

Reason: We don't include the src directory, thats why the type can't get resolved.

See here: https://unpkg.com/browse/jest-playwright-preset@1.3.0-rc2/types/global.d.ts

Let's include d.ts from the src directory?

[2020-07-08 15:33] thernstig commented on #104
@mmarkelov @mxschmitt I've tested it and it works. Sorry for testing it so late!

[2020-07-09 08:24] fschoenfeldt opened #207 "README.md refers to jest-dev-server"
**Describe the bug**
The README.md still refers to jest-dev-server although in the changelog, it was stated that it was replaced by https://github.com/playwright-community/jest-process-manager

**To Reproduce**
Steps to reproduce the behavior: Open README.md in this repository

**Expected behavior**
Link to the new dependency jest-process-manager

**Screenshots**
./.

**Desktop (please complete th

[2020-07-09 09:37] #207 closed

[2020-07-09 09:43] fschoenfeldt commented on #207
@mmarkelov I found another reference to the deprecated `jest-dev-server`, see my PR:
https://github.com/playwright-community/jest-playwright/pull/209

[2020-07-09 09:44] mmarkelov commented on #158
@olsch thank you for your response. I just don't have enough experience with **persistent** launching. And there are some issues related to this type:
https://github.com/playwright-community/jest-playwright/issues/188#issuecomment-654224818
Also core playwright team recommend to use **launch** instead of **persistent**
https://github.com/microsoft/playwright/issues/2828#issuecomment-653579598

Fix

[2020-07-09 10:50] #205 closed

[2020-07-09 12:31] karthikiyengar commented on #188
@mmarkelov - Yes, that will get the job done.

I will add that I'm not entirely sure whether the approach we're taking with this is correct though, and sadly I lack the time to dig deeper. I've moved to puppeteer for now. For the record, `jest-puppeteer`spawns tabs for individual test files rather than creating a new profile when using persistent context.

Also, another difference in behaviour I'v

[2020-07-10 09:29] creage opened #212 "resetContext should accept options for new context"
**Is your feature request related to a problem? Please describe.**
In our tests we need to run a page using different users, and we used to reset context, and set new HTTP credentials. But recent version of Playwright warns that

``warning: method |context.setHTTPCredentials()| is deprecated. Instead of changing credentials, create another browser context with new credentials.``

**Describe the so

[2020-07-10 10:31] mmarkelov commented on #212
@creage make sense. Thanks for your report

[2020-07-10 12:40] #212 closed

[2020-07-10 14:28] creage commented on #112
We see this issue too. And it is annoying.

@mmarkelov I know it might sound a bit against API, but can we postpone `setup` code until we actually receive `test_start` event in the `handleTestEvent()` handler? And teardown our stuff only if it was actually setup? This way we can avoid create/destroy cycles on skipped test.

[2020-07-12 08:29] fschoenfeldt opened #214 "add jest-playwright.config.cjs to utils.ts"
**Describe the bug**
If my main program is a `"module"` inside package.json, I have to rename the config file to `jest-playwright.config.cjs` to use `module.exports` (CommonJS export way). That way, the configuration gets ignored and the default is used.

I changed the code inside the compiled `utils.js` to use my CommonJS configuration:
[code]

**Additional context**
Maybe this isn't quite a bug,

[2020-07-12 08:38] thernstig commented on #112
Isn't there a way to get the test cases that will be run, inside the custom test environment? And you can check the length of it? It's possible that info is not available at that time?

[2020-07-12 10:50] mmarkelov commented on #214
@fschoenfeldt thanks for report. For me this is not a bug. You should use `JEST_PLAYWRIGHT_CONFIG` for this purpose. Also I think that I can make some checks to use `jest-playwright.config.cjs` if there is `module` inside `package.json`

[2020-07-13 11:02] #214 closed

[2020-07-13 23:01] jhildenbiddle commented on #174
@mmarkelov --

How do we specify multiple browsers and/or devices? The [docs](https://github.com/playwright-community/jest-playwright#skip-tests-for-specific-browser-and-device) state this is possible:

My assumption was to set the `browser` value to an array (below) but this did not work.

[code]

[2020-07-14 01:56] jhildenbiddle opened #216 "Easier debugging / test-specific configurations"
**Is your feature request related to a problem? Please describe.**

I typically run all tests headless, but I often have failing tests that that require visually inspecting the page. Currently, this involves the following:

1. Find my `jest-playwright.config.js` file
1. Modify my `browsers` to include only one browser (since I generally don't need to visually inspect in multiple browsers)
1. Modif

[2020-07-14 06:49] mmarkelov commented on #174
@jhildenbiddle this is because we expect that single browser will be passed. I suppose that we need to be consistence and use array for this purpose, like in `jest-playwright.config`. I'll take it. Thanks!

[2020-07-14 06:51] mmarkelov commented on #216
@jhildenbiddle thank you for your suggestion. Seems like that it can be very helpful. I'll take it

[2020-07-14 06:58] jhildenbiddle commented on #216
Excellent! Thanks for considering the change, @mmarkelov.

[2020-07-14 06:58] jhildenbiddle commented on #174
Thanks, @mmarkelov!

[2020-07-15 08:28] #174 closed

[2020-07-15 12:37] jhildenbiddle opened #226 "Allow jest-playwright settings in jest.config.js"
**Is your feature request related to a problem? Please describe.**

While not a critical issue, allowing jest-playwright settings to live inside of the standard `jest.config.js` file would simplify the configuration (fewer config files) and make it easier to understand how Jest is configured by allowing more (hopefully, all) settings to live in one place.

As a real-world example, I am currently w

[2020-07-15 14:40] mmarkelov commented on #226
@jhildenbiddle thank you for your suggestion. Looks interesting and useful. Not sure that it will be easy to implement, but I  take it after #216

[2020-07-15 14:57] mmarkelov commented on #226
Just made some research on it. Seems like that jest doesn't pass any custom values defined it your `jest.config` and throw a warning.
<img width="590" alt="Снимок экрана 2020-07-15 в 17 53 07" src="https://user-images.githubusercontent.com/22371328/87560379-0c459d80-c6c4-11ea-9584-a493f94b9df4.png">
As a workaround I passed some options, but only inside [`globals`](https://jestjs.io/docs/en/23.x/c

[2020-07-15 16:12] jhildenbiddle commented on #226
Interesting. I'm surprised Jest is so strict about unknown properties in the config, but I suppose it's necessary to provide the kind of warnings shown in your screenshot.

I wonder if there's a way for Jest plugin/preset/etc. authors to whitelist new config properties that they want to make available in file `jest.config.js` file. If this isn't available now, perhaps this is something the Jest te

[2020-07-16 06:57] mmarkelov commented on #226
As I know there is no ability to customize config with new config properties.

I think that it has sense. Maybe core jest team can help with it.

We can wait for an answer from jest about ability to support new config properties. I suppose that I won't be able to make it this week. And there is #216 that I want to implement before this. So maybe it's better to wait for a better solution, instead o

[2020-07-16 16:01] ubcent commented on #181
Hi guys. I'm having the same issue. It seems like something was broken in the latest versions. I managed to make it work on the 1.0.1 version. The problem is with globals, so, browser, browserName, and all the rest are not visible in the spec-files.

[2020-07-16 16:06] mxschmitt commented on #181
Hi, could you share your configuration files with us? The latest versions were all fine, see here in the CI pipeline where we test them. There you can also obtain working configurations for different scenarios: https://github.com/playwright-community/playwright-jest-examples

[2020-07-16 16:06] #181 closed

[2020-07-16 16:17] ubcent commented on #181
The problem is not in the configuration itself, I tried the configurations from the link provided, but it doesn't work even on the bare-metal project. As I said previously I managed to start it on the 1.0.1 version only. The fact that all the tests are passed doesn't guarantee that everything works properly.

[2020-07-16 16:27] mmarkelov commented on #181
@ubcent it's very difficult to understand what can be wrong without any provided information.

[2020-07-16 16:30] ubcent commented on #181
@mmarkelov sure. What information do you need?

[2020-07-16 16:36] ubcent commented on #181
jest.config.js:
[code]

tsconfig.spec-e2e.json:
[code]

jest: 26.0.1
ts: 3.5.3
playwright: 1.1.0

[2020-07-16 16:36] mmarkelov commented on #181
@ubcent as much as possible. Your operation system, maybe some test examples. If you said that it was ok in **1.0.1**, what the first version that cause an error. It was quite enough changes from **1.0.1** to **1.2.1**, so it will be nice if we can detect the first wrong version

[2020-07-16 16:40] ubcent commented on #181
@mmarkelov I started my experiments just today. So, I started from the latest (1.2.1), and after a while, I decided to downgrade. I ran through all the versions from 1.2.1 to 1.0.1, the first that works for me is 1.0.1.

OS: macOS 10.15.5 (19F101)

[2020-07-16 16:44] ubcent commented on #181
Test example:

[code]

[2020-07-17 07:15] mmarkelov commented on #181
@ubcent sorry for late response. I can confirm that there is a problem with ts declaration file.
ts 3.5 just don't like this imports:
[code]

I'll fix it in new release

[2020-07-17 11:21] ubcent commented on #181
@mmarkelov Thanks. You are right TS version was a root cause of this issue. The upgrade to the latest resolved that.

[2020-07-17 13:14] creage commented on #212
@mmarkelov thank you very much. When should we expect a new release with this fix?

[2020-07-17 13:33] mmarkelov commented on #212
@creage it is available in **next** release. I hope the next stable version will be ready on the next week

[2020-07-17 17:09] ajaykhobragade opened #232 "expect-playwright doesn't get along with jest-playwright & jest-circus"
I have jest-playwright test scripts with all correct settings in jest-playwright.config.js that works great with expect-playwright but as soon as i tried to add CustomEnvironment.js and jest.config.json in root project folder in order to add features from jest-circus to work, it somehow overtakes and breaks expect-playwright features to work.

i am getting an error>>
`TypeError: expect(...).toHave

[2020-07-19 12:23] mmarkelov commented on #226
Also I found that `ts-jest` for example use global property to pass config with `jest.config.js`:
[code]

[2020-07-19 18:08] jhildenbiddle commented on #226
Very interesting. I wonder if that was the guidance from the Jest team, if the TypeScript team opted to do that do configuration data was available globally, or if they were in the same "we want just use `jest.config.js` for our settings, but I guess we're forced to use global as to do that" scenario that we are.

[2020-07-20 09:46] mmarkelov commented on #216
@jhildenbiddle just look through this issue and made #233
You will be able to do something like that:
[code]

So you can config **playwright** only inside the specific test. Personally I don't think that it's perfect decision, I just tried some another opportunities, like using `jestPlaywright.config` function inside `describe`, but cause it's sync. there is no ability to use it with async config

[2020-07-20 22:23] diego-s-lopez opened #236 "Protocol error (Target.setAutoAttach): Target closed in Docker - Azure CI Linux Agent"
**Describe the bug**
Running tests in Azure CI, inside Docker, fail with error:
` Protocol error (Target.setAutoAttach): Target closed.`...
[tasklog_10.log](https://github.com/playwright-community/jest-playwright/files/4950251/tasklog_10.log)

**To Reproduce**
I have a non-preset version working:
[working.zip](https://github.com/playwright-community/jest-playwright/files/4950256/working.zip)

The

[2020-07-21 07:13] mxschmitt commented on #236
Hi, could you try to set the environment variable `DEBUG=*` and then check the output? This enables debug logging which would log missing dependencies e.g. to the stdout.
My guess is that not all dependencies are installed or that you try to start chrome as root e.g. But the logs should give us a more specific reason whats going wrong.

[2020-07-21 10:15] mmarkelov commented on #216
@jhildenbiddle also we just discussed some another ways to implement this feature with @mxschmitt
Maybe we can test it with CLI, for example:
[code]

So you got one failed test for `chromium` for example.

After it you can run only failed test with `DEBUG` flag:

```DEBUG=true BROWSER=chromium jest -t 'failed'```

So `jest-playwright` will run with some constant debug options:
[code]

So you will

[2020-07-21 12:27] jhildenbiddle commented on #226
@mmarkelov --

What about leveraging Jest's [`testEnvironmentOptions`](https://jestjs.io/docs/en/configuration#testenvironmentoptions-object) option? The documentation states the following:

Perhaps I'm misunderstanding the difference between "environment" and "preset", but my understanding is that when Jest is configured with `preset: jest-playwright-preset`, `jest-playwright-preset` is the envir

[2020-07-21 12:35] Sreejithw opened #240 "Run tests with multiple sets of configurations"
I have same sets of JSON data with configurations (TestID,Browser Type, Device Type, Url etc. ). Is there a way i can use jest-playwright to run a single test with different configurations?

[2020-07-21 12:48] diego-s-lopez commented on #236
Hi! Thanks for your response.

Here is the log:
[tasklog_12.log](https://github.com/playwright-community/jest-playwright/files/4953371/tasklog_12.log)

I'm using the preset: jest-playwright-jsdom, version 0.0.3.
I have an oppened ticket with them, and after update to 0.0.4 version, update "playwright" to 1.2.1 version, and add `args:["--no-sandbox"],` in jest-playwright.config.js, the errors chang

[2020-07-21 13:28] jhildenbiddle commented on #216
First, thank you @mmarkelov for your efforts. They are very much appreciated. Whatever we end up with, having the ability to modify configurations for describe and test blocks will be extremely helpful.

Both of the proposed implementations (`config` method & CLI option) are interesting because they serve different purposes: the `.config` method allows initiating debug mode for individual tests wi

[2020-07-21 16:18] trusktr commented on #216
Because if it shared the same `page` as with other tests, it would have to make the browser not headless for the particular test using `jestPlaywright.debug`. How would it dynamically make the browser non-headless for that test, then headless again after that test is finished?

My guess is that may not be possible without some OS-specific hacking beyond the current capabilities. The easy solution

[2020-07-22 08:39] mmarkelov commented on #216
@jhildenbiddle thank you for your comment. I think that we can start from the first implementation. It's almost done.
I think that it will be possible to use two helper functions: **config** and **debug**:
[code]

Yeah, I agree that it will be much cleaner. But I'm not sure that it's possible to override `test`. I didn't find any way to do it. But I asked about this opportunity, so I'll make it if

[2020-07-22 13:12] jhildenbiddle commented on #216
@mmarkelov

Excellent! I'm happy to test an in-progress branch before release if you'd like.

Thank you for all the hard work. Much appreciated.

[2020-07-22 13:46] mmarkelov commented on #216
@jhildenbiddle I just find out the way to extend global `test`. So there will be just two helpers on it:
[code]

I hope that we can merge the first version of it soon. But it will be a bit unstable - I need to implement some checks on these helpers and also I should check if `test.jestPlaywrightConfig` will work fine - it should override `jest-playwright` configuration

[2020-07-22 13:59] mmarkelov commented on #216
@jhildenbiddle And also I need to find out the way to run these kind of test only once if the `browser` param is passed:
[code]

[2020-07-22 18:18] mmarkelov commented on #216
@jhildenbiddle just published new pre-release version. You can try **jest-playwright-preset@next** to use this helper functions. Also I suppose that we can simplify this two functions in one. Like this:
[code]

[2020-07-22 18:51] jhildenbiddle commented on #216
@mmarkelov --

That's great. I'll check out the prerelease as soon as possible and post feedback here. In the meantime, a few thoughts...

I'm not sure which two functions your referring to, but if you're referring to `test.jestPlaywrightConfig` and `test.jestPlaywrightDebug` keep in mind that these serve different purposes (specifically, which jest-playwright configuration they use as their base)

[2020-07-22 18:58] mmarkelov commented on #216
@jhildenbiddle thank for getting back.

I also will take it in, and try to implement it in next PRs

[2020-07-22 21:23] mxschmitt commented on #232
Hi, it seems like `expect-playwright` won't be registered correctly. Also it seems like `setupFilesAfterEnv` is incorrectly placed. It should be in your `jest` config not in your `jest-playwright.config.js` config file.

Try by moving it (`setupFilesAfterEnv`) over to your jest config in the package.json.

[2020-07-23 12:23] committedtester opened #242 "Skip Option missing npm package type declaration"
Typescript compiling of a package that uses the jest-playwright-preset will error with
node_modules/jest-playwright-preset/types/global.d.ts:2:33 - error TS2307: Cannot find module '../src/types' or its corresponding type declarations.
2 import type { SkipOption } from '../src/types'

To reproduce, download
https://github.com/playwright-community/playwright-jest-examples/tree/master/basic-ts
In a

[2020-07-23 12:27] mmarkelov commented on #242
@committedtester thanks for your report. This is already fixed in new release. So you can use **jest-playwright-preset@next**. The next stable release will be published soon

[2020-07-23 13:11] ajaykhobragade commented on #232
Perfect, that works fine! Thanks @mxschmitt

[2020-07-23 13:11] #232 closed

[2020-07-23 16:10] mmarkelov commented on #216
@jhildenbiddle I'm not sure that I can understand what we need to do for this cases

[2020-07-23 21:16] jhildenbiddle commented on #216
@mmarkelov --

Consider how devs are able to run or skip selected tests using `test.only()` or `test.skip()`. This same functionality--the ability to run or skip selected tests--should be available when using `test.jestPlaywrightConfig()` and `test.justPlaywrightDebug()` methods.

As stated above, ideally both the `skip()` and `only()` methods would be available on `test.jestPlaywrightXXX` methods

[2020-07-24 12:42] mslowiak opened #247 "ignoreHTTPSErrors flag"
**Is your feature request related to a problem? Please describe.**
I wanted to omit the `ERR_CERT_AUTHORITY_INVALID` error:

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Would be great to support `ignoreHTTPSErrors` somehow in `jest-playwright.config.js` or maybe it is supported but I got no idea how to use that.

[2020-07-24 12:47] mxschmitt commented on #247
Hi,

you can use such a config (`jest-playwright.config.js`) to add the ignoreHTTPSErrors flag:

[code]

[2020-07-24 12:52] #247 closed

[2020-07-24 13:12] mmarkelov commented on #216
@jhildenbiddle just added this ability in **next** release

[2020-07-24 13:21] jhildenbiddle commented on #216
@mmarkelov. Amazing. Looking forward to checking it out. I've been busy setting up and configuring `jest-image-snapshot` for visual regression testing across platforms, but once that's in place I'll give the `@next` release a try.

As always, thanks for your efforts and the quick turnaround!

[2020-07-24 17:21] jhildenbiddle commented on #216
Just gave `jest-playwright-preset@next` a test drive. Here's what I found:

* Calling `test.jestPlaywrightConfig()` with a configuration did not have any effect (no browsers launched in non-headless mode).

[code]

* Calling `test.jestPlaywrightConfig.only()` or `test.jestPlaywrightConfig.skip()` result in `Invalid first argument` errors. I'm assuming these methods just aren't implemented yet.

*

[2020-07-24 18:52] mmarkelov commented on #216
@jhildenbiddle thank you for your feedback!

There is some problems with it right now. `jest-playwright` start browser with `launchServer` and for now I'm not sure that it will be able to configure it. Also `jest-playwright` starts separate `playwright` instance with `debug` and `config` helper functions. So you need pass `launchType` to make this start. IDK how to make it clear for now. Maybe I s

[2020-07-26 05:11] aaron-mckay-ncino commented on #242
You guys are doing a great job! Looking forward to the next release
Just letting you know that you've also got these errors on "jest-playwright-preset": "^1.3.0-rc10",

Interface 'JestPlaywrightContext' incorrectly extends interface 'Context'.
  The types of 'config.displayName' are incompatible between these types.
    Type 'string | { name: string; color: Color; } | undefined' is not assignable

[2020-07-26 08:11] Maksandre opened #250 "Error when using custom selector engine: selector engine has been already registered"
My issue looks pretty similar to this one - https://github.com/playwright-community/jest-playwright/issues/99
I'm trying to use custom selector engine from this [example](https://github.com/microsoft/playwright/blob/master/docs/extensibility.md#custom-selector-engines) in my jest-playwright.config.js file like this:

**jest-playwright.config.js**
[code]

and I get an error when running tests:

[co

[2020-07-26 16:01] mxschmitt commented on #250
Hi, thanks for filing an issue, I was able to reproduce it. Fix will be provides shortly.

[2020-07-27 07:02] #250 closed

[2020-07-27 14:25] ajaykhobragade opened #253 "Screenshot is being created but it's blank, on test failure"
I am following the steps as per the recommendation "**Usage with jest-circus"** for taking screenshot on test failure, it works fine as long as screenshot being created but i see screenshot is white blank page, i was suspecting if it's taking too early while page is still loading so tried on different pages & manually as well, but it seems it captures white blank every time. I attached all my conf

[2020-07-28 07:28] mmarkelov commented on #253
@ajaykhobragade I just tried it with `jest-playwright@0.2.3` and with `jest-playwright@1.3.0` it works fine for me. I'm not sure but may be if you running your tests with server, it cause this kind of issue. If you are using server option to start your test, I can check it out

[2020-07-28 07:58] mmarkelov commented on #253
Also tried it with [cra example](https://github.com/playwright-community/playwright-jest-examples/tree/master/create-react-app). Seems to be ok

[2020-07-28 09:42] mmarkelov commented on #240
@Sreejithw I'm not that it will be able. As workaround you can split it in multiple configs and use `JEST_PLAYWRIGHT_CONFIG`, like so:

[code]

`"test1": "JEST_PLAYWRIGHT_CONFIG='jest-playwright.config1.js'"`
`"test2": "JEST_PLAYWRIGHT_CONFIG='jest-playwright.config2.js'"`

[2020-07-28 09:54] mmarkelov commented on #226
@jhildenbiddle I need to check it out. I'm not sure that it will help, cause we also need to pass config to **PlaywrightRunner**

[2020-07-28 16:24] ajaykhobragade commented on #253
@mmarkelov , Thanks for reply. I think you were correct, it was something to do with script, i tried couple of things not sure what fixed but my guess is either i was taking screenshot of page Vs browser or using playwright strictly Vs jest-playwright format but it seems to be working fine now.

Also, wondering if you have any recommendations around auto creating log along with screenshot on test

[2020-07-28 19:41] tanvee38 opened #257 "Allow running same tests against multiple browsers parallelly"
Thanks for the amazing test framework! I have some end-to-end tests using playwright and I am using jest as the test runner. I want to run the same tests against Chrome, Firefox and Safari parallelly where the tests within a test file should run sequentially. Kindly let me know if I can do it with jest-playwright? Or if no, is there a way I can achieve it. Testing an application for cross-browser

[2020-07-29 02:59] pavanreddy61 commented on #257
U can see in readme that u can define browsers u want to run the tests in jest-playwright config file. And jest playwright will take care of running it on those browsers parallely and within a test file the tests should run sequentially.

[2020-07-31 16:36] ajaykhobragade commented on #253
@mmarkelov , did you get a chance to look at this below?

Also, wondering if you have any recommendations around auto creating log along with screenshot on test failure?

[2020-07-31 18:17] mmarkelov commented on #253
@ajaykhobragade unfortunately I didn't get much time for a while. But I don't have any recommendations for it. I suppose you can use custom environment:
[code]

But I suppose we can think about some extra option to make screenshots underhood. I need to check it out

[2020-07-31 18:18] mmarkelov commented on #242
@aaron-mckay-ncino can you check out the latest version? Otherwise it can be some problems with **node_modules** maybe

[2020-07-31 19:22] ajaykhobragade commented on #253
Ok, will forward to it.
Thanks.

[2020-07-31 20:58] ajaykhobragade opened #267 "Tracking the coverage create empty table for index.html"
Hi, I am following steps mentioned under "**Tracking the coverage**", I got nyc, babel-istanbul installed, updates the jest-playwright.config.js and all other required config files. I could able to run sample test and see the coverage folder with index.html gets created but what i see is the html has empty table. I intentionally make my test fail so i could see the coverage.

I attached all my con

[2020-08-01 16:16] devzerker opened #268 "Window does not fit to viewport size"
**Describe the bug**
In headfull mode window does not fit to viewport size. See the screenshots below

**To Reproduce**
1. Take ready example from [here](https://github.com/playwright-community/playwright-jest-examples/tree/master/basic-ts)
2. In package.json file change jest-playwright-preset version to 1.3 or stay on 1.2.1
3. In jest-playwright.config.js file change headless to false and use def

[2020-08-01 23:48] ok-AK opened #269 "[QUESTION] How to allow multiple file downloads?"
Hello,
When using Chrome and attempting to download multiple files at the same time. Chrome displays a notification saying, "Localhost wants to Download multiple files - Allow/Block".

![Download Multiple Files - Allow Block](https://user-images.githubusercontent.com/17037706/88982387-fcf65080-d27c-11ea-9cfb-42d869c94cc1.png)

I use a jest-playwright.config.js file to set browser context options.

[2020-08-03 06:42] #4 closed

[2020-08-03 06:44] mmarkelov commented on #66
I suppose we can close it. `jest-playwright` is using `jest-circus` underhood right now. And `jestPlaywright.debug()` also should work

[2020-08-03 06:44] #66 closed

[2020-08-03 06:45] #176 closed

[2020-08-03 06:45] #253 closed

[2020-08-03 06:56] mmarkelov commented on #257
@tanvee38 thank you! Unfortunately you can't run same tests for multiple browsers in parallel. I just made some research on it, but the solution is very unstable. So for a now there is no plans to support this feature. Maybe I'll put this solution in separate package. But for now I just don't have enough time to do it.

[2020-08-04 07:03] mmarkelov commented on #268
@devzerker I'm not sure that it's something that related to `jest-playwright`. Could you please try it with `playwright` only?

[2020-08-04 07:06] mmarkelov commented on #267
@ajaykhobragade I just don't have much experience with **coverage**, @mxschmitt could you please check it out?

[2020-08-04 07:08] mmarkelov commented on #269
@ok-AK seems like that related to `playwright`. I can try to find solution, when I'll have some free time

[2020-08-04 10:12] mxschmitt commented on #267
Hi sorry for the late response. What kind of build system are you using for the your client side code?
I you haven't seen, we have a full working example located here: https://github.com/playwright-community/playwright-jest-examples/tree/master/create-react-app-coverage

[2020-08-04 12:43] ajaykhobragade commented on #267
@mxschmitt , I have Node JS testing web browser using with Jest-playwright, expect-playwright, babel-plugin-istanbul, nyc.
 Am i missing anything here? Do you have working example for that?

[2020-08-04 13:03] mxschmitt commented on #267
You need to integrate `babel-plugin-istanbul` into your build system with Babel. That means your local buildserver needs to use it while testing.

You can check if its correctly configured if `window.__coverage__` is defined in your Chrome DevTools for example.

[2020-08-05 15:47] ajaykhobragade commented on #267
@mxschmitt , Thanks for all the help, i think my build correctly integrate with Babel, what i missing is to see a good example of Jest-Playwright test coverage option that supports Javascript, Node JS just like what you have for Typescript link above.

Let me know if you guys come up with something like that because currently there is enough information around how to add coverage through different

[2020-08-05 15:48] ajaykhobragade commented on #267
@mxschmitt , okay to close ticket unless there is anything more to add.

[2020-08-05 15:48] #267 closed

[2020-08-06 16:00] devzerker commented on #268
@mmarkelov screenshots from expected behavior are from `playwright` only, here is code

[code]

[2020-08-06 21:17] tanvee38 commented on #257
@mmarkelov thanks a lot for your response! Kindly let me know if you can think of any workaround I can use for this.

[2020-08-08 07:53] #268 closed

[2020-08-08 07:54] devzerker commented on #268
Problem solved in playwright 1.3.0

[2020-08-10 07:52] mmarkelov commented on #226
@jhildenbiddle just added this ability with #282
You can do something like that:
[code]

[2020-08-13 10:49] mmarkelov opened #295 "[Discussion] Move jest-process-manager options in separate file"
Just noticed that there is problem with passing options to `jest-process-manager` if `jest-playwright.config` doesn't exist in root directory:

https://github.com/playwright-community/jest-playwright/blob/6d1c3d1d538692207ca390caa13eb4a1be1fafec/src/global.ts#L29-L30

I just look throw `jest` and find out [this issue](https://github.com/facebook/jest/issues/9263) - so there is no way to get test c

[2020-08-15 03:22] #269 closed

[2020-08-25 16:26] Goolyio opened #310 "[Question] Websocket error when running tests in docker"
I am struggling to run my jest tests within a docker container running the [playwright image](https://hub.docker.com/_/microsoft-playwright) as I get this error.
[code]
I am using the jest preset environment and playwright-chromium and it works great when not in a container. Here is my launch options object which I got from another issue but didn't work:

[code]
I couldn't find anything on google

[2020-08-27 08:09] NareshMurthy opened #316 "TypeError: jestPlaywright.resetBrowser is not a function"
I am trying to close and reopen the browser for each test(it) inside a describe.

This is my beforeEach
[code]
and inside each test(it), I have a `page.goto(url)`
but I get this is below error.
[code]

I have tried jestPlaywright.resetPage() and  jestPlaywright.resetContext() as well, but still the same issue.
Could guys let me know if I am  missing something?

[2020-08-27 08:15] mxschmitt commented on #316
Could you send us your Jest configuration? Seems like you have jest-playwright not activated.

[2020-08-27 08:26] NareshMurthy commented on #316
[code]

[code]
This is how i trigger the test.
`HEADLESS=false TARGET_BROWSER=chrome jest --verbose --detectOpenHandles`

[2020-08-27 08:32] mxschmitt commented on #316
Which version of jest-playwright are you using?

[2020-08-27 08:40] NareshMurthy commented on #316
[code]

[2020-08-27 08:45] mxschmitt commented on #316
You have to upgrade jest-playwright and we recommend to upgrade Playwright itself too to the latest versions:
- https://www.npmjs.com/package/jest-playwright-preset
- https://www.npmjs.com/package/playwright

[2020-08-27 08:45] #316 closed

[2020-08-27 08:47] mmarkelov commented on #316
@NareshMurthy this helpers functions were added in **1.2.0**

[2020-08-27 08:49] NareshMurthy commented on #316
Thanks! @mxschmitt @mmarkelov , Works after upgrading to latest versions. my bad, should have read the docs!

[2020-08-31 08:08] NareshMurthy opened #321 "Protocol error (Network.setCacheDisabled): Target closed.Error:"
I have multiple test files on which I need to intercept the requests going out of the page.

[code]
I get the below error.
[code]

[2020-09-03 04:50] NareshMurthy opened #326 "[Question]Can we use helper methods to perform actions?"
I am trying to use a helper method to perform actions on the test.

[code]

[code]

And the helpers file is under the tests folder, but still i am not able to perform any actions using this method.
Can you guys let me know if I am missing something?

[2020-09-03 06:53] mmarkelov commented on #326
@NareshMurthy it should be OK. I just tried it and it was OK. I think that you have to compile your files using Babel to support modules.

[2020-09-03 07:43] NareshMurthy commented on #326
@mmarkelov It works now!
Just a follow up question, is it possible to not open a browser by default?, because I have `describe.skip(...)` and the tests are skipped only after opening the browser.is it possible to skip the test without the browser being opened?

[2020-09-03 08:22] mmarkelov commented on #326
@NareshMurthy I think this is related to https://github.com/playwright-community/jest-playwright/issues/112
There were some troubles with implementing this logic. I can look through it again, if I will have some free time

[2020-09-03 09:13] NareshMurthy commented on #326
@mmarkelov Thanks!

[2020-09-03 15:15] #310 closed

[2020-09-03 15:16] Goolyio commented on #310
Turns out I'm a idiot and didn't expose ports 80 and 443 in the docker container 😢.

[2020-09-07 20:02] nrhoffmann opened #332 "Browser + Device combinations that don't make sense"
This is somewhere between a bug and a feature.

When you put both devices and browsers in your configuration, one test is run for each permutation. But [sometimes ](https://github.com/microsoft/playwright/issues/2787)a permutation doesn't make sense.

Can we do something about this?

[2020-09-07 20:09] mxschmitt commented on #332
We recently have added a defaultBrowserType property in the device list upstream. Will get released with the v1.4 in a few days.
@mmarkelov what do you think?

[2020-09-08 07:05] mmarkelov commented on #332
@mxschmitt is there something that we should change in **jest-playwright**?

[2020-09-08 14:11] mxschmitt commented on #332
@mmarkelov yeah, see this PR on Playwright: https://github.com/microsoft/playwright/pull/3731

Based on that we can use the defaultBrowserType to decide which browser should be used.

[2020-09-08 16:30] adambbn opened #336 "slowMo not working for launchOptions"
Given following `jest-playwright.config.js` chromium browser do not slow down.:
[code]

Testes on versions:
* playwright: 1.3.0
* jest-playwright-preset: 1.3.1
* jest: 26.4.2

[2020-09-08 16:55] mmarkelov commented on #336
@adambbn **jest-playwright** launch server by default. `slowMo` isn't used with server. So to launch browser and pass `slowMo` option, you need to define launch type:
[code]

[2020-09-08 17:21] adambbn commented on #336
That works. Thanks

[2020-09-10 04:05] maurusrv opened #337 "Does not skip 'Galaxy S5' on Firefox: options.isMobile is not supported in Firefox"
Hi, I've tried to use this lib and was able to reproduce the same bug with this example test case:

[code]

As you can see in the snippet below, it skipped Galaxy S5 as i intended on webkit but on firefox.
[code]

My understanding of the `browsers` and `devices` parameter for `jestPlaywrightSkip` is: it goes through each browser pairing it with each device. If this is right, then here i am reporti

[2020-09-10 04:15] maurusrv commented on #337
Oops. only after i submit this issue when i read this: https://github.com/microsoft/playwright/issues/2787. I guess I would be waiting for #332 Thanks anyway!

[2020-09-10 15:23] mxschmitt commented on #337
@maurusrv we try to follow up in #332 so that we test the right browsers only instead of weird combinations like Chromium and iPhone 11.

[2020-09-11 06:31] maurusrv commented on #337
hi @mxschmitt tried running the same scenario as above, i'm not sure but it produce _similar_ error log:

[code]

[2020-09-11 08:06] mxschmitt commented on #337
It's not yet released.

[2020-09-11 11:25] mmarkelov commented on #332
@mxschmitt there is a couple questions. As I can understand there is no need to run tests for **browser**, **device** combination? I suppose that there is much work to do if it is right. Also what should we do if we are using for example **playwright-chromium** package but we got **webkit** as **defaultBrowserType** for the device. As workaround I think that we can keep the current logic, but give

[2020-09-11 14:27] creage opened #343 "page.close: Target browser or context has been closed"
**Describe the bug**
Trying to call `jestPlaywright.resetContext()` fails with error
[code]

**To Reproduce**
Install latest `playwright` 1.4.0, write simple code that will try to reset context.

**Expected behavior**
Context resetting should work.

**Desktop:**
 - OS: Windows
 - Playwright version 1.4.0
 - jest-playwright version 1.3.1

**Jest configuration:**

[code]

**Additional context**
Appa

[2020-09-11 19:07] axis-magnusd commented on #165
This is resolved by using:
[code]

[2020-09-11 19:07] #165 closed

[2020-09-15 06:26] #343 closed

[2020-09-15 10:49] mxschmitt commented on #332
Regarding the case when the device descriptor says webkit but the user only has installed chromium, then I would raise an error.
Hmm, I would probably handle the devices and browser logic differently. If the user specifies browsers, then loop over them and run the tests on them. But if the users specifies devices, then run them on the devices with the browser which is attached to the device descri

[2020-09-15 11:07] mmarkelov commented on #332
@mxschmitt make sense. But what should we do for the previous **playwright** versions. `defaultBrowserType` won't be able to use. Should we ask user to update **playwright** or should we try to run tests in some other way?

[2020-09-15 11:19] mxschmitt commented on #332
I personally would use chromium by default if the defaultBrowserType field is not persistent and print a warning that 1.4+ is required.

[2020-09-21 04:18] aha-oretama opened #358 "How to connect to browser grid? `wsEndpoint` in `connectOptions` doesn't work"
**Describe the bug**
In #90 , `connectBrowserApp` (it's renamed to `connectOptions`) was introduced in order to connect to browser grid.
However, I cannot connect to existing browser grid by setting it.

**To Reproduce**
I'm using [moon](https://aerokube.com/moon/latest/). Moon provides browser grids.
I already confirmed that original playwright can access it like this code.

[code]

With jest-pla

[2020-09-21 20:20] singularitypress commented on #240
@mmarkelov Where would we place this? (I apologize if I missed this in the docs but I didn't see anything like this):
"test1": "JEST_PLAYWRIGHT_CONFIG='jest-playwright.config1.js'"
"test2": "JEST_PLAYWRIGHT_CONFIG='jest-playwright.config2.js'"

[2020-09-22 06:27] mmarkelov commented on #240
@singularitypress this is scripts for running your tests. `JEST_PLAYWRIGHT_CONFIG` is environment variable for define special `jest-playwright` config file. You can place it to your **package.json** in scripts section:
[code]

[2020-09-22 06:32] mmarkelov commented on #358
@aha-oretama thank you for your report! I will take a look.

[2020-09-23 05:50] #358 closed

[2020-09-24 15:21] JohnPaulHarold opened #368 "jestPlaywrightSkip isn't skipping tests"
**Describe the bug**

`jestPlaywrightSkip()` isn't skipping devices

**To Reproduce**

[code]

**Expected behavior**
I'd expect that only the "browser: chromium device: browser" test should run

**Screenshots**
<img width="719" alt="Screenshot 2020-09-24 at 15 27 10" src="https://user-images.githubusercontent.com/9934306/94158563-73c55980-fe7a-11ea-913d-583316e26c08.png">

**Desktop (please comple

[2020-09-28 08:58] mmarkelov commented on #368
@JohnPaulHarold you also need to define browser to skip:
https://github.com/playwright-community/jest-playwright/blob/cde452240eaa6d332d8bf291402ac51328c3a69a/src/utils.ts#L181-L196
So your test should be:
[code]

[2020-09-28 11:30] JohnPaulHarold commented on #368
OK. My assumption was that choosing to skip no browsers `browsers: []` would do just that and my example would just skip the devices specified.

If you want to run browser/desktop only tests, is creating a  "desktop" device and then using the above the way to go?

[2020-09-30 21:35] jhildenbiddle commented on #226
@mmarkelov --

Tested and working great on v1.3.1. Much cleaner (IMHO). Thanks!

[2020-09-30 21:35] #226 closed

[2020-10-01 10:09] kronkake opened #379 "[Question] Can you share a browser context between different test files?"
Hi!

I'm working on E2E testing a site which is hidden behind a login. This means logging in and out between each test often fails as the server runs out of sessions. Is it possible to seperate tests by files, but still share the same browsercontext/tab while running --runInBand? Or does it exist a better solution I've not considered?

[2020-10-07 17:51] criles25 commented on #4
for others that stumble upon this issue... i had to comment out

[code]

the `jest --init` created this setting by default for the `jest.config.js` it generated.

[2020-10-12 13:44] mmarkelov commented on #332
Finally pushed #351 to master and published new rc version. So I added an option **useDefaultBrowserType** to **jest-playwright.config**.
[code]

It will run tests with **defaultBrowserType** of device

[2020-10-15 08:51] fschoenfeldt opened #408 "[Question] What about `playwright-test`?"
I just came across https://github.com/microsoft/playwright-test

What are the differences between `jest-playwright` and `playwright-test`? The syntax seem very similar.

[2020-10-15 09:34] mxschmitt commented on #408
Hey,
once we built jest-playwright there was no playwright-test and folio for running tests. We created it to provide an easy solution to write tests in a common environment (Jest). The way of writing tests is a bit different. Playwright-test uses test fixtures which are e.g. used in Pytest too (named deconstructed values are passed into the test). Jest-Playwright uses globals to access the page a

[2020-10-15 09:34] #408 closed

[2020-10-16 06:45] fschoenfeldt commented on #408
Thank you for the quick response @mxschmitt ! I'm using `jest-playwright` right now and was just wondering where's the difference! 😄

[2020-10-16 10:26] #379 closed

[2020-10-19 12:17] mesteche opened #412 "enabeling coverage makes evaluate crash"
**Describe the bug**
When enabling coverage as described in README.md, using `page.evaluate` in a test causes it to crash.

**To Reproduce**
Steps to reproduce the behavior:
- enable code coverage:
[code]
- add `babel-plugin-istanbul`:
[code]
- add a `page.evaluate` instruction in one of your tests:
[code]
**Expected behavior**
At least no crash even if coverage is not collected from within the ev

[2020-10-19 12:36] mesteche commented on #412
Update
If you're facing the same issue you can avoid the crash by disabling istanbul for the *evaluated* line:
[code]

[2020-10-19 13:10] thernstig opened #413 "Using a custom environment per the docs give: "TypeError: Cannot destructure property 'collectCoverage' of 'this._jestPlaywrightConfig' as it is undefined.""
**Describe the bug**
Using a custom environment per the docs give: `TypeError: Cannot destructure property 'collectCoverage' of 'this._jestPlaywrightConfig' as it is undefined.` The custom environment has been configured according to https://github.com/playwright-community/jest-playwright#usage-with-jest-circus

**To Reproduce**
Add a custom environment according to https://github.com/playwright-c

[2020-10-19 13:18] mesteche commented on #412
Update:
I managed to make it work, if anyone stumble upon a similar issue here what was going on:
I was lunching a dev-server manually in the global jest setup so the tests were checked for coverage.
I tried to use the serverOptions in the testEnvironmentOptions in the jest config but serverOptions doesn't seems to do anything there, so you need a dedicated jest-playwright.config.js to use the jes

[2020-10-19 13:18] #412 closed

[2020-10-20 07:25] mmarkelov commented on #413
@thernstig looks strange. I just run it with this env:
[code]

I just think that there is some trouble with `teardown` method. @mxschmitt maybe you have any thoughts with it?

[2020-10-20 08:33] thernstig commented on #413
I'll try to add this piece of code:

[code]

But I don't think that should matter, as it should call the `super.teardown()` automatically if I do not specify it myself.

I do use a file called jest-playwright.config.js as well, if that is of any help:

[code]

[2020-10-20 09:26] thernstig commented on #413
It is because of this line `const { wsEndpoint, browserName, testEnvironmentOptions } = this._config;` where you expect the config to come from the Jest config's testEnvironmentOptions, which was a new feature you added.

But this broke specifying the config via jest-playwright.config.jest in the root dir of the project.

[2020-10-20 09:34] thernstig commented on #413
I added it in jest.config.js according to https://github.com/playwright-community/jest-playwright#configuration and now it passes that step. It does not fail on `TypeError: Cannot destructure property 'collectCoverage' of 'this._jestPlaywrightConfig' as it is undefined.` anymore.

But it then instead fails on this:

[code]

[2020-10-20 13:57] mmarkelov commented on #413
@thernstig I just look through your `jest.config.js` and noticed that you are using custom `runner`:
[code]

There is some configuration that passed throw `jest-playwright` `runner` to `testEnvironment`.

I didn't test it with custom `runner` so I need some time to figure how to handle this case

[2020-10-20 13:59] thernstig commented on #413
It just looks like this:

[code]

[2020-10-21 06:24] mmarkelov commented on #413
@thernstig you can try to extend your runner from `jest-playwright`:
[code]

[2020-10-22 08:42] creage opened #424 "Ability to start without initial environment"
**Is your feature request related to a problem? Please describe.**
In our tests we need to run browsers with different NTLM credentials, and these credentials are defined in the tests body.

We are running special NTLM proxy for every different user. To run a browser using proxy setup, we are using `jestPlaywright._configSeparateEnv()` with `launchOptions.proxy.server`. It works fine in general, b

[2020-10-22 08:48] thernstig commented on #413
That made it, thanks! Maybe there should be a note about this in the README?

[2020-10-22 21:30] jgibson02 commented on #379
I'm in a similar scenario, trying to authenticate with the application before all test suites and then use separate pages within the same browser context for each suite in parallel. Tried to use a custom Jest environment similar to what's described in the "Usage with jest-circus" section of the readme but have not been able to figure out how to share the same context.

[2020-10-23 17:57] mmarkelov commented on #413
@thernstig yeah! That make sense. I put it [here](https://github.com/playwright-community/jest-playwright#usage-with-custom-runner)

[2020-10-23 17:57] #413 closed

[2020-10-23 18:21] mmarkelov commented on #424
@creage I just try to figure out on your test cases, but it's a bit difficult to understand without some example.
`jestPlaywright._configSeparateEnv` was created for some internal purposes. Also I've added some methods to run tests with provided configuration. You can find some information about it [here](https://github.com/playwright-community/jest-playwright/issues/216). So maybe it will be bett

[2020-10-23 19:06] creage commented on #424
@mmarkelov The only issue we have is the requirement to reset the context for every new `httpCredentials`, which is defined by PlayWright (`setCredentials()` is deprecated).

And the general problem is, that we can learn these credentials, right after the test is started it's execution only!

So, our current scenario looks like this:
1. We start the runner, it creates new `browser`, with new `cont

[2020-10-25 10:32] #240 closed

[2020-10-25 15:39] mmarkelov commented on #424
@creage just published **jest-playwright-preset@next** that will support **skipInitialization** option and also made `jestPlaywright.configSeparateEnv` public method

[2020-10-26 07:30] creage commented on #424
@mmarkelov it works super well, thank you!

[2020-10-27 02:09] maneetgoyal commented on #295
The [docs](https://github.com/playwright-community/jest-playwright#configuration) mentions that we can use:

[code]

But when I use this format to produce something like the following:

[code]

then the `serverOptions` are getting ignored. Does my issue seem related to this #295?

When I create a separate `jest-playwright.config.js`, everything works as expected.

[2020-10-28 09:36] NareshMurthy opened #437 "[Question] MaxListenersExceededWarning?"
I have been getting this warning when I run a describe which has more number of tests inside, is there a way to fix this warning?
`(node:46) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 disconnected listeners added to [FFBrowser]. Use emitter.setMaxListeners() to increase limit`

This is the version I am running on.
[code]

[2020-10-28 09:51] mxschmitt commented on #437
Hi, could you try to upgrade to playwright 1.5.2? There are probably related fixes in the changelog: https://github.com/microsoft/playwright/releases/tag/v1.5.2

[2020-10-29 04:16] NareshMurthy commented on #437
It looks like they have enabled the warning for safety reasons in the recent update https://github.com/microsoft/playwright/pull/4223

Thanks @mxschmitt

[2020-10-29 04:16] #437 closed

[2020-10-31 21:04] pjcalvo opened #443 "Ability to specify different wsEndpoints for each browser"
**Is your feature request related to a problem? Please describe.**
I am setting up a ws proxy server to start remote environments on demand. But I need a way to specify which browser is starting the connection in order to be able to programatically spin the server.

**Describe the solution you'd like**
Would be nice to be able to specify different servers for each browser type.

[code]

**Describe

[2020-11-02 06:23] mmarkelov commented on #295
@maneetgoyal I don't think so. Could you open a separate issue?

[2020-11-02 09:54] maneetgoyal opened #446 "serverOptions are getting ignored"
The [docs](https://github.com/playwright-community/jest-playwright#configuration) mentions that we can use:

[code]

But when I use this format to produce something like the following:

[code]

then the `serverOptions` are getting ignored.

When I create a separate `jest-playwright.config.js`, everything works as expected.

_Originally posted by @maneetgoyal in https://github.com/playwright-commun

[2020-11-02 09:54] maneetgoyal commented on #295
Sure, here it is: https://github.com/playwright-community/jest-playwright/issues/446.

[2020-11-02 09:55] maneetgoyal commented on #446
cc @mmarkelov

[2020-11-02 11:23] NareshMurthy opened #447 "[Question] jestPlaywrightSkip with describe.each?"
I have a describe each block similar to this

[code]

How do I attach the` jestPlaywrightSkip({ browsers: ['chromium'] })` to the describe block instead of mentioning in the each `it/test`?

[2020-11-02 18:29] mmarkelov commented on #446
@maneetgoyal yeah! I just look through this. And unfortunately there is no way to get `testEnvironmentOptions` in **jest setup**, so for a while you should use  `jest-playwright.config.js`

[2020-11-03 10:13] mmarkelov commented on #447
@NareshMurthy you can attach `jestPlaywrightSkip` to `describe` block like so:
[code]

But I'm not sure that it will possible with `describe.each`

[2020-11-03 17:32] mmarkelov commented on #443
@pjcalvo I believe that you are able to do something like this:
[code]

[2020-11-03 20:07] pjcalvo commented on #443
THanks. I didn't know that was possible.

[2020-11-03 20:07] #443 closed

[2020-11-04 13:10] #216 closed

[2020-11-04 13:16] #332 closed

[2020-11-05 21:15] creage commented on #216
Hey mates, sorry for interrupting your discussion, but to me the entire flow looks a bit broken. I mean, you should not modify your code to enter debug mode. You should probably modify it when you actually want to fix it.

Saying that, implementing most of the API presented here is a bit overkill to me.

Let me explain how could one address the actual issue in the OP.

Instead of keeping all of yo

[2020-11-06 10:36] trusktr opened #457 "How to choose firefox only for one run?"
Am we supposed to uninstal `playwright` and install `playwright-firefox` to achieve that, run tests, then uninstall `playwright-firefox` and re-install `playwright`?

Or is there some way to specify which browser to use without all these install hoops?

[2020-11-08 04:45] trusktr commented on #457
Oooh, I see the `browsers` option:

[code]

I can comment out the ones I don't want to run.

[2020-11-08 04:45] #457 closed

[2020-11-16 18:41] ValeryVS opened #464 "wrong browsers used with certain browsers+devices configurations"
**Describe the bug**

Wrong browsers used with certain configurations. For all custom devices chromium is used. If devices described with same name and different defaultBrowserType, then it will be runned multiple times, and all times with chromium.

**To Reproduce**

Add some custom devices with defaultBrowserType to config.

**Expected behavior**

With `browsers: ['chromium', 'firefox', 'webkit'

[2020-11-16 18:42] ValeryVS commented on #332
@mmarkelov
Seems there is a bug, when custom devices are added to configuration.
#464

[2020-11-19 07:24] mmarkelov commented on #464
@ValeryVS thanks for report. I'll take a look

[2020-11-19 08:03] #464 closed

[2020-11-19 08:07] mmarkelov commented on #464
@ValeryVS could you check it in the latest release?

[2020-11-19 18:20] ValeryVS commented on #464
@mmarkelov
Checked. Fixed in 1.4.1, thanks!

[2020-11-30 00:30] sjurgis opened #471 "[Question] How to implement error listener that polls for specific span"
I'm not sure where to post this question - jest or playwright repo, but I figured I'll start in the middle.

In a web app I'm testing (Salesforce) it's a common pattern to throw an error toast for errors you've caught or platform throws a different modal if some unhandled exception occurs. Basically there's nothing ever that just ends up in console.

I wan't to capture those so I could capture int

[2020-11-30 07:33] asmyshlyaev177 opened #477 "Tests don't run"
**Describe the bug**
Tests get discovered but just not running

**To Reproduce**
It works initially and after some time it stop working.

**Expected behavior**
Tests should run.

**Screenshots**
<img width="645" alt="Screen Shot 2563-11-30 at 14 27 50" src="https://user-images.githubusercontent.com/19854148/100580600-d3c3fa80-3318-11eb-8e3d-795a59ffd0ab.png">
<img width="562" alt="Screen Shot 2563

[2020-12-02 03:27] asmyshlyaev177 commented on #477
Figured this out - `useDefaultBrowserType` without devices cause this.

[2020-12-02 16:59] mmarkelov commented on #477
@asmyshlyaev177 yeah! That's true. It's expect passed `devices` with this case. I suppose that I should add some information about it in documentation

[2020-12-02 17:37] mmarkelov commented on #471
@sjurgis thank you for your question. I suppose that you will need to use some [custom environment](https://github.com/playwright-community/jest-playwright#usage-with-custom-testenvironment)
I'll try to find out possible ways and build small demo for this.

[2020-12-02 19:53] gilles-yvetot commented on #188
@karthikiyengar, I have the exact same scenario than @mmarkelov where I need to test an extension and it looks like it has to be done from a persistent context. I am hitting the error your mentioned where the global `browser` is null. Any idea why? Anything you would recommend to fix/address that?

[2020-12-04 20:07] #477 closed

[2020-12-08 19:23] juztaz opened #483 "[Discussion] How to deal with double browser windows after setting a proxy"
Hello,

I am running Playwright tests in TeamCity server. Due to my unique product, I am setting proxy settings before each run. However, when I do set the proxy, double browser windows open up. This behaviour causes my tests to fail since every input has double values entered (in scenarios where you have to enter your email, tests fail).
This is reproducible in both cases when I set proxy under l

[2020-12-08 23:14] #483 closed

[2020-12-08 23:14] juztaz commented on #483
Foudn the issue.

[2020-12-09 08:20] #295 closed

[2020-12-09 11:01] #446 closed

[2020-12-09 11:01] #424 closed

[2020-12-09 11:02] #242 closed

[2020-12-09 19:08] mmarkelov commented on #471
@sjurgis I just tried to reproduce your test case. So I build tiny [sandbox](https://bn063.csb.app/). In this example you will get an error toast if you click **Hello World** button. And I just build small tests for this:
[code]

I just hope it will help you

[2020-12-09 22:14] sjurgis commented on #471
Good starting point, will try implementing this.
Best would be continuous poll, but I think this might cover a lot of cases.

[2020-12-14 16:27] krashdifferent commented on #188
Just adding another use case where we have a similar issue with persistent context and multiple test files failing with `jest-playwright`. In this case we are using the persistent context to handle Multifactor Authentication. Following the [playwright docs](https://playwright.dev/#version=v1.6.2&path=docs%2Fauth.md&q=persistent-authentication), we manually run a separate script before the tests to

[2020-12-15 07:56] mmarkelov commented on #188
@karthikiyengar I don't have much experience with MFA testing. Could you please provide some test examples? I tried to look through and help you if I can

[2020-12-15 17:10] krashdifferent commented on #188
@mmarkelov We are not testing the MFA itself so much as we need to get though the authentication in order to test the rest of our app. Since MFA requires a separate passcode sent through a phone on each login, we cannot practically automate the login itself.

Instead, before running the automated tests, we launch the browser with a persistent context and login manually. The login state is saved in

[2020-12-16 13:46] onno-amsterdam opened #494 "[QUESTION] how do I properly configure with it,jestPlaywrightConfig().."
I'm trying to pass jetPlaywrightConfig in a test, however I don't seem to get it to work.

This is my test:
[code]

**Expected:** the test launches in a browser sized to iPhone 11 with nl-NL locale.
**Actual:** when I run the test I see a browser open, then a second. Both have the default size. The test is executed inside the first browser.

This is my jest.config.js:
[code]

When I put the device

[2020-12-20 12:08] ocavue opened #499 "Respect `jest-process-manager` launchOptions inside the subdirectory jest.config.js"
**Is your feature request related to a problem? Please describe.**

According to [this comment](https://github.com/playwright-community/jest-playwright/blob/v1.4.2/src/global.ts#L29), `
jest-playwright` will ignore `serverOptions` in a sub-package jest configuration. This cause some inconvenience with monorepo.

I created a repository https://github.com/ocavue/jest-playwright-monorepo-example as a

[2020-12-20 12:27] ocavue commented on #499
I can try to implement this feature if I can give some specific modification ideas.

[2020-12-30 13:08] mmarkelov opened #517 "Add information about using shadow selectors"
#497

[2020-12-30 13:13] mmarkelov commented on #499
@ocavue actually i didn't think about this kind of logic. So I don't have any thoughts on it. I just thought that I can move this kind of logic in some separate file, but I'm not sure that it will be fine.

[2021-01-04 16:45] mmarkelov commented on #188
@karthikiyengar I just not sure about nice way of implementing this kind of tests. So I just build some small examples.
[code]

[2021-01-05 08:57] creage opened #522 "High vulnerability: Server-Side Request Forgery"
High|Server-Side Request Forgery
-----|-----
Package|axios
Dependency of|jest-playwright-preset
Path|jest-playwright-preset > jest-process-manager > wait-on >  axios
More info|https://npmjs.com/advisories/1594

**Desktop (please complete the following information):**
 - OS: Windows
 - jest-playwright version 1.4.2

[2021-01-05 17:16] #522 closed

[2021-01-06 21:13] #517 closed

[2021-01-09 21:24] mmarkelov commented on #494
@onno-amsterdam sorry for late response. I just find out some problems with this logic. I'm working on it, so it will be fixed in next release.

[2021-01-11 10:31] onno-amsterdam commented on #494
@mmarkelov no worries. Thank you for fixing it!

[2021-01-11 18:14] #494 closed

[2021-01-11 18:23] mmarkelov commented on #494
@onno-amsterdam I just released new version **1.4.4**. So it should be fine.
Also there are some comments on it:
[code]

Also I added some extra information about this in [Readme](https://github.com/playwright-community/jest-playwright#debug-helper-functions).

I just hope that it will help. If you will have troubles with it - fill free to open new issue or reopen this one.

Thanks!

[2021-01-14 15:21] petriichuk opened #529 "Is there a way to set cookies before running tests?"
I can set them in my test like:

    it('title', async () => {
            await context.addCookies([{
                name: 'mycookieskey',
                value: 'mycookiesvalue',
                domain: 'domain.com',
                path: '/'
             }])
    })

but is it possible to set them in PlaywrightEnvironment.ts ?

[2021-01-14 15:21] petriichuk opened #530 "Is it possible to set cookies before running test?"
I can set them in my test like:

    it('title', async () => {
            await context.addCookies([{
                name: 'mycookieskey',
                value: 'mycookiesvalue',
                domain: 'domain.com',
                path: '/'
             }])
    })

but is it possible to set them in PlaywrightEnvironment.ts ?

[2021-01-14 15:22] #530 closed

[2021-01-14 15:53] petriichuk commented on #530
Duplicate of #529

[2021-01-14 15:56] mxschmitt commented on #529
yes, you can use beforeEach or beforeAll since its Jest.

[2021-01-14 15:57] petriichuk commented on #529
sure, but I mean globally for all spec files

[2021-01-14 16:48] petriichuk commented on #529
yes, @mxschmitt you are right, will add that to beforeAll, since there might be a test with different user or login page test. Thanks

[2021-01-14 16:48] #529 closed

[2021-01-15 13:02] thernstig opened #531 "Setting BROWSER might break jest-playwright"
**Describe the bug**
When running playwright in a VS Code terminal when connected to an ssh remote, it fails. The problem might however be "bigger" than just VS Code.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to repository on an ssh remote with VS Code and try to run a playwright suite in the VS code terminal.

**Expected behavior**
For it to run.

**Screenshots**
If applicable

[2021-01-15 13:46] mmarkelov commented on #531
@thernstig thanks for report. I just thought about deprecation of set up `browser` and `device` through process environment and left only ability to do this only with `jest-playwright.config.js` file.

[2021-01-17 11:28] hananmalka commented on #137
@aesyondu
Can you share where it's actually described?
I'm trying to use jasmine and keep getting "jasmine is not defined"

[2021-01-17 12:27] aesyondu commented on #137
Hi, I was referring to the [readme of jest-circus](https://github.com/facebook/jest/tree/v26.6.3/packages/jest-circus)

It is explained there how to bind to events:

[code]

Therefore, in order to get the current test name, I used something like this:
[code]

[2021-01-17 12:30] aesyondu commented on #137
Oops I think I referenced the jest-playwright readme itself, not the jest-circus one:

https://github.com/playwright-community/jest-playwright#usage-with-custom-testenvironment

[2021-01-17 12:49] hananmalka commented on #137
I'm just wondering if there is a way to use jest-Playwright custom runner
to support jasmine Since currently I'm always get that jasmine is undefined.
I just copy paste the custom runner from the Readme, and try to use
jest-allure2
And keep getting the above error.

On Sun, Jan 17, 2021, 14:30 aesyondu <notifications@github.com> wrote:

[2021-01-17 13:34] aesyondu commented on #137
Ah I see, hmm, I'm not really sure. Have you tried this?

https://github.com/zaqqaz/jest-allure/issues/8#issuecomment-661699516

Sorry I'm not too familiar with using jasmine with jest-playwright.

[2021-01-17 13:39] hananmalka commented on #137
Yes...tried this one. It's not working :(
jest-playwright uses environment jest-circus under the hood and seems like it can't be override.
Thanks

[2021-01-17 14:50] thernstig commented on #531
I think it would be good. User can invent their own env vars (like we do ourselves) if they want to control things. I think that might be a better approach. Otherwise I am not sure how to solve this `BROWSER` problem we have now. Want to push a fix removing it?

[2021-01-18 07:27] mmarkelov commented on #531
@thernstig it will be nice!

[2021-01-18 08:44] jevgenijusmarinuskinas opened #538 "Issue with using Jasmine alongside jest-playwright"
Hello,

I was using Jasmine to add reporters and get name of a test with Puppeteer. After Playwright migration, it is no longer working.

My jest.setup.js looks like this:

[code]

Whenever I try to execute some tests, I am getting an error:

[code]

Is there any possible solution?

[2021-01-18 09:47] hananmalka commented on #538
Try to add to your jest.config.js:
testRunner: "jasmine2"

This works for me.

[2021-01-18 11:29] jevgenijusmarinuskinas commented on #538
Are you able to get the name of the current test? For example,

`jasmine["currentTest"].fullName?`

I am getting undefined for this, after following your guidelines.

[2021-01-18 12:27] hananmalka commented on #538
@jevgenijusmarinuskinas
Adding this:
[code]

Then you will be able to get test name by calling:
`const testName = jasmine.currentTest.description
`

Take a look at this [answer](https://github.com/jasmine/jasmine/issues/611#issuecomment-553098129)

[2021-01-18 14:45] PaulRosset opened #539 "[Feature request] Running tests suites on multiples chromium browser with different executablePath"
**Is your feature request related to a problem? Please describe.**

I would like to run tests in multiple similar environments.

For example, I would like to my test suite on Google Chrome thanks to the [`executablePath`](https://playwright.dev/docs/api/class-browsertype?_highlight=launch#browsertypelaunchoptions) but also on Chromium Edge with a new [`executablePath`](https://playwright.dev/docs/

[2021-01-18 16:17] mmarkelov commented on #539
@PaulRosset got your point and i just need to think about this feature. Maybe `browsers` should an array of object instead of string.
[code]

[2021-01-18 16:43] PaulRosset commented on #539
yes, I was also thinking about that in terms of API.

It would allow us to consider `firefox`, `webkit`, and `chromium` only as "base" browser and allow us to fully use the power of `executablePath`.

Looks promising!

[2021-01-19 15:26] sebastianspiller opened #542 "Running in Pipeline "Preset jest-playwright not found.""
Hello together,

I have an issue concerning Playwright to run in a Continuous Integration Environment (Gitlab Pipeline).

**Describe the bug**
Running on local machine works, running in Gitlab Pipeline breaks with "Validation Error: Preset jest-playwright not found."

**Desktop:**
 - OS: Docker FROM node:12.16.1-slim
 - Playwright version 1.7.0
 - jest-playwright-preset version 1.4.4

**Jest confi

[2021-01-19 15:38] mmarkelov commented on #542
@mxschmitt could you please take a look?

[2021-01-20 13:52] BrunoWilkinson opened #543 "(Error: "Cannot find playwright package") launching the test suite"
**Describe the bug**
Not 100% sure if it's a bug with the library.
Anyway when I launch my test suite, I get this error:
[code]
The path given is the `browserName`, I've got a feeling that is looking at the wrong area for the browsers.
If I try to run the test without `jest-playwright-preset` and do the test manually (like shown on the playwright docs) it works.

**To Reproduce**
I've used the `ba

[2021-01-20 14:03] BrunoWilkinson commented on #543
I've found the issue, something to do with my WSL files permission couldn't get access to `~/.cache/ms-playwright`

[2021-01-20 14:03] #543 closed

[2021-01-20 15:07] roman-ponomarenko opened #544 "[QUESTION] How to configure jest-playwright not to fail test in uncaught error occurs on a page during test execution"
[QUESTION] How to configure jest-playwright not to fail a test in uncaught error occurs on a page during test execution?

The test fails with the following error message:
 Sign in test › User is able to sign with username

    TypeError: Cannot read property 'apply' of undefined

      at https:/xxxxx.xxx.com/account:14:1697

**To Reproduce**
Run a test for a page with an uncaught error(s) that oc

[2021-01-20 15:10] mmarkelov commented on #544
@roman-ponomarenko there is **[exitOnPageError](https://github.com/playwright-community/jest-playwright#options)** option

[2021-01-20 15:17] roman-ponomarenko commented on #544
@mmarkelov that exactly what I was looking for, thanks a lot!

[2021-01-20 16:28] #544 closed

[2021-01-21 14:21] onno-amsterdam commented on #494
@mmarkelov awesome, thank you!

[2021-01-21 18:15] #531 closed

[2021-01-22 16:34] #539 closed

[2021-01-23 18:31] mmarkelov commented on #321
@NareshMurthy really sorry for such long response. I just look through this issue and think that you can do this in your test instead of your environment, otherwise it will close browser before **test_start** event. You can do something like this:
[code]

[2021-01-25 09:58] ali-garajian opened #556 "CustomEvent is not defined"
**Describe the bug**
I'm using custom events in my code, and to my understanding the default environment for jest-playwright is set to node; Therefore, my code won't compile and exits with error 'CustomEvent is not defined'.
I was wondering if there's a workaround for this ...

**Desktop (please complete the following information):**
 - OS: windows 7
 - "playwright": "^1.8.0",
 - "jest-playwright-

[2021-01-25 10:03] ali-garajian commented on #556
***SOLUTION:
Actually the solution was mentioned in the docs!
To get a browser-like env, one could install "jest-playwright-jsdom" and set 'preset: "jest-playwright-jsdom"'

[2021-01-25 10:03] ali-garajian commented on #556
1.

[2021-01-25 10:03] #556 closed

[2021-01-26 12:37] mxschmitt commented on #542
Hi @sebastianspiller,
sorry for the late reply, could you share a full example with us?
We have a various amount of examples for different use-cases located [here](https://github.com/playwright-community/playwright-jest-examples). Also since you are using Docker, the [Playwright Docker image](https://playwright.dev/docs/docker) is recommended.

The error itself seems like caused by not installing

[2021-01-27 12:26] #186 closed

[2021-01-27 12:27] mxschmitt commented on #188
Closed because of inactivity. Feel free to reopen if its still an issue or create a new one.

[2021-01-27 12:27] #188 closed

[2021-01-27 12:31] mxschmitt commented on #236
Sorry for the late response! Is the issue still persistent? The sandbox is now by default disabled.

[2021-01-27 12:31] #236 closed

[2021-01-27 12:32] mxschmitt commented on #321
Please reopen if the issue is still persistent.

[2021-01-27 12:32] #321 closed

[2021-01-27 12:32] mxschmitt commented on #447
Please reopen if the issue is still persistent.

[2021-01-27 12:32] #447 closed

[2021-01-27 12:33] mxschmitt commented on #471
Please reopen if the issue is still persistent.

[2021-01-27 12:33] #471 closed

[2021-01-27 12:34] mxschmitt commented on #538
Thanks @hananmalka, please reopen if the issue is still persistent. Its not intended to use it in combination with Jasmine but we are open to add guides / documentation for it if it works already.

[2021-01-27 12:34] #538 closed

[2021-01-27 12:34] mxschmitt commented on #542
Please reopen if the issue is still persistent. Thanks!

[2021-01-27 12:34] #542 closed

[2021-01-29 09:19] NareshMurthy opened #557 "[Question/Help] How to record video of a test?"
I can record videos using playwright, while creating a page object.
[code]

Since jest-playwright-preset creates a page object for us by default.
How do we record videos using jest-playwright-preset?

[2021-01-29 09:25] mxschmitt commented on #557
Something like that should work when you put it into your configuration file.

[code]

[2021-02-01 13:05] peterblazejewicz opened #564 "make `collectCoverage` optional"
**Describe the bug**
The `collectCoverage` option on preset configuration is defined as required in preset types:
https://github.com/playwright-community/jest-playwright/blob/master/types/global.d.ts#L218

The Jest option definition make this optional by default (`false` by default).
So when using preset configuration that way (taken from ts sample):

[code]

it reports error complaining about `co

[2021-02-01 14:39] mmarkelov commented on #564
@peterblazejewicz thanks for report! I'll take a look

[2021-02-01 14:53] mxschmitt commented on #564
@peterblazejewicz I'm curious how you do it, since jest-playwright reads the jest-playwright.config.js and no TypeScript file. do you use TSC to transcompile your TS config file into JS?

[2021-02-01 14:59] peterblazejewicz commented on #564
Oh, no, I'm using `ts-jest` with `ts-node` option (so by the book):
https://jestjs.io/docs/en/configuration
No transpilation involved, e.g `basic-ts` can be rewritten to by all `.ts` based.

[2021-02-01 19:28] peterblazejewicz commented on #564
I've just realised what you've asked, sorry. Yes, you're correct, it won't work with `.ts` extension. Anyway,
one can reference types for @typedef/@type:

[code]
due to @ts-check, it won't pass compiler check.

[2021-02-02 01:49] ychaudhari commented on #494
@mmarkelov Is it possible to use a different launchOption with this method? I'm using playwright 1.8.0.
I want to run a particular test in headful mode but rest of the suite in headless mode, I tried following

[code]

However,
test still picks up headless config from jest.config.ts file and runs the test in headless mode

[code]

Is it possible to have a different launchOption with this method? o

[2021-02-02 03:32] russellg opened #566 "Videos recorded are corrupt or poor quality in certain scenarios"
**Describe the bug**
When using certain devices or browsers, the video is corrupt or recorded poorly and with no color.

**To Reproduce**
This is the jest-config.js I am currently using:

[code]

**Expected behavior**
The video for each device should be created and recorded correctly.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Playwright version: 1.80
 - jest-pl

[2021-02-02 17:11] mmarkelov commented on #494
@ychaudhari it should be ok in your case. The only thing that you should use provided `page` instance, otherwise it will tests global instance:
[code]

Also you can try to use `jestPlaywrightDebug` method. It will run your test with this params:
[code]

[2021-02-02 17:55] mmarkelov commented on #566
@russellg I'm not sure that it is related to `jest-playwright`. I just tried to record a video for `Pixel 2 XL landscape` and also got an error, but I haven't got any problems with `firefox`
[code]

@mxschmitt what do you think? Can it be related to `jest-playwright`?

[2021-02-02 17:55] #564 closed

[2021-02-02 22:48] russellg commented on #566
These are my current dependencies from package.json:

[2021-02-03 06:41] NareshMurthy commented on #557
Thanks @mxschmitt

[2021-02-03 07:08] #557 closed

[2021-02-04 23:28] PaulRosset opened #567 "Run Multiple instances of chromium with different executablePath"
**Describe the bug**
A clear and concise description of what the bug is.

Hello,

Thank you for your reactivity for #539 -> [!545](https://github.com/playwright-community/jest-playwright/pull/545)

But, I think there is a little bug that keeps me away from achieving what I want.

I think that the bug takes place in the file `src/PlaywrightRunner.js` at line [118](https://github.com/playwright-comm

[2021-02-05 07:35] mmarkelov commented on #567
@PaulRosset I believe that removing this condition won't fix issue. https://github.com/playwright-community/jest-playwright/blob/8eac367dab71078668424e31408c4e1b4ffa5b8d/src/PlaywrightRunner.ts#L118

What you can do is to use other `launchType`:
[code]

With this config you will launch browser instead of launching server. And for your case I'll need some time to think about. We just need other kin

[2021-02-06 14:03] PaulRosset commented on #567
Thank you for your answer, defining the `launchType` to `LAUNCH` has worked for me!

[2021-02-08 17:41] serembon opened #573 "TypeError: Class constructor CustomRunner cannot be invoked without 'new'"
**Describe the bug**
I am trying to expand the runner from the library as described in the README.md. But when I run the test, I get the TypeError

**To Reproduce**

1. Install packages from npm
2. Write a simple test
3. Add CustomRunner.js according to README.md
4. Try to run the test

[code]

**Expected behavior**
Test started

**Desktop (please complete the following information):**
 - OS: MacO

[2021-02-08 18:27] mmarkelov commented on #573
@serembon I believe that it should be `runner` instead of `testRunner` in your **jest.config.js**:
[code]

Also check your custom runner and environment.
**env**
[code]

**runner**
[code]

[2021-02-09 08:02] serembon commented on #573
There is a `runner` in my configuration, copied the old configuration when trying to try different options.

I have been **solved** this problem. I ran my tests through IntelliJ UI and this was causing the problem. How it's solved:

1. Invalidate cache/restart in IDE
2. Remove `node_module` folder and `npm i`
3. Add `Jest` as a global library in `Languages & Frameworks > JavaScript > Libraries`
4.

[2021-02-09 08:07] #573 closed

[2021-02-15 06:44] #567 closed

[2021-02-15 14:29] JipSterk commented on #499
@mmarkelov `jest-dev-server` which is the underlying server running [already accepts an array](https://github.com/playwright-community/jest-process-manager/blob/177c6fb427a5e33082da698e407f97154fbd747f/src/types.d.ts#L132)
i would suggest the type of [`JestPlaywrightConfig.serverOptions`](https://github.com/playwright-community/jest-playwright/blob/1c44352716b2667145183f18ba86dbe69afdf8df/types/gl

[2021-02-15 16:39] mmarkelov commented on #499
@JipSterk yeah! good catch! Agreed

[2021-02-18 12:09] mmarkelov opened #586 "Wrong tests configuration with useDefaultBrowserType"
Wrong tests configuration in this case:
[code]

Expected that it will be run 4 times (**webkit iPhone 11**, **webkit Desktop**, **firefox Desktop**, **chromium Desktop**), but it will run only 2 times (**webkit iPhone 11**, **chromium Desktop**).

I suppose that we should run tests for all browsers if custom device don't have `useDefaultBrowserType`

As weird workaround it will be ok with this con

[2021-02-19 12:44] mmarkelov opened #589 "Wrong set options"
**Describe the bug**
Wrong passing options with this case.
[code]

**To Reproduce**
1. Looks good
[code]

2. Ignores specific options
[code]

**Expected behavior**
Should work for two cases

[2021-02-19 17:29] #589 closed

[2021-02-20 14:41] #586 closed

[2021-02-21 04:43] russellg commented on #566
As I am unsure if jest-playwright is the issue here, I think it's fair to close this this.

[2021-02-21 04:43] #566 closed

[2021-02-22 04:57] ocavue opened #591 "Merge the coverage information into the Jest coverage output"
**Is your feature request related to a problem? Please describe.**

Currently, when set `collectCoverage` to `true`, `jest-playwright` can collect the code coverage information from `babel-plugin-istanbul` and output the coverage to `.nyc_output`. Since Jest can already output the coverage, it's better to merge the coverage into the Jest itself so that users can see the code coverage both from uni

[2021-02-22 12:48] mmarkelov commented on #591
@ocavue thanks for your suggestion. I think that can be helpful feature, but only thing that i want is to give developer ability to control this reporter. So it will be nice if it'll be configurable

[2021-02-22 13:07] ocavue commented on #591
We can add a new configuration field `coverageOutput` to `JestPlaywrightConfig`, which control how the coverage collection output.

[code]

I don't know which definition is better: `coverageOutput?: Array<'file' | 'jest'>` or `coverageOutput?: 'file' | 'jest' | 'all'`. Any suggestion?

[2021-02-23 08:29] mmarkelov commented on #591
@ocavue good question. For me it's better the second one, i thinks it's more cleaner

[2021-02-25 11:30] thernstig opened #594 "Set high timeout when PWDEBUG env var is set"
**Is your feature request related to a problem? Please describe.**
I want to more easily debug Playwright errors with jest-playwright.

**Describe the solution you'd like**
Playwright has an Inspector feature https://playwright.dev/docs/inspector/ that let's you `PWDEBUG=1`, which launches browsers in headed mode etc. One can also use `await page.pause();`.

Does this work out of the box with jest

[2021-02-25 11:42] mxschmitt commented on #594
Hi, yes it should work! When the Jest timeout is high enough, then you can also skip through the different steps. Will test it later.

[2021-02-25 12:15] thernstig commented on #594
@mxschmitt Could `jest-playwright` auto-set the timeout high enough? I suppose another alternative is to document in the README for users to set the timeout to a high timeout if `PWEDBUG` is true.

[2021-02-25 12:20] mxschmitt commented on #594
Should be doable 👍

[2021-02-26 16:03] stuartleeks opened #595 "Unable to use jest-playwright with jest 1.9.1"
**Describe the bug**
After updating jest to 1.9.1 (to get the [`page.pause()` method](https://playwright.dev/docs/api/class-page/#pagepause)) I cannot run my jest-playwright tests.

**To Reproduce**
Running tests after updating jest to 1.9.1:

[code]

**Expected behavior**
Running with jest 1.9.1 works fine and I am able to call `page.pause()`

**Screenshots**
If applicable, add screenshots to hel

[2021-02-26 16:08] mxschmitt commented on #595
Hi, you have to upgrade playwright-core too.

`npm install playwright-core@latest`

[2021-02-26 16:32] stuartleeks commented on #595
Thanks, I added playwright-core at 1.9.1 but I'm still getting the same error

[code]

[2021-02-27 08:15] mmarkelov commented on #595
@stuartleeks looks strange. Just tried my tests with new version and it was ok

[2021-02-27 11:29] mmarkelov commented on #594
@thernstig just made PR to increase jest timeout under hood. It will be available in the next release. But for now you should do it by yourself.

[2021-02-27 11:30] #594 closed

[2021-02-27 13:31] thernstig commented on #594
@mmarkelov I had two comments here: https://github.com/playwright-community/jest-playwright/pull/596/files - tips to improve the docs :)

[2021-02-28 19:57] stuartleeks commented on #595
Indeed, I just created a test project and it worked fine there 😄 I will continue trying to troubleshoot in my original project!

[2021-02-28 19:57] #595 closed

[2021-03-01 06:59] mmarkelov opened #602 "Documentation improvements"
- Document about the default timeout for all tests to 15 sec.
- Document in the Debug section that when `PWDEBUG` is set, that following defaults are set: https://playwright.dev/docs/next/debug/#defaults, plus that you set Jest's own timeout to a huge value.

[2021-03-01 13:18] thernstig opened #608 "Re-work how jestPlaywright.debug() works under the hood (or remove it completely?)"
**Is your feature request related to a problem? Please describe.**
Playwright supports debugging out of the box. E.g. one can use [`page.pause()`](https://playwright.dev/docs/api/class-page/?_highlight=paus#pagepause) to stop execution in a script (if running in headed/headful mode). In addition, one can set `PWDEBUG=1` which will automatically set Playwright to use [headful mode as well as disabl

[2021-03-01 13:26] mxschmitt commented on #608
I would vote to remove this functionality and the users should use playwright.pause instead.

[2021-03-01 13:58] thernstig commented on #608
You mean `page.pause()`?

[2021-03-01 13:58] thernstig commented on #608
Oh, and I agree. That would definitely be a simple solution to fix this.

[2021-03-03 10:29] simonauner opened #609 "Add hooks for server teardown"
**Is your feature request related to a problem? Please describe.**
Not really, we manage a workaround with docker-compose for now.

**Describe the solution you'd like**
I would like to be able to run a server (https://github.com/playwright-community/jest-playwright#start-a-server) as a docker image. I got the tests running by specifying
[code]

But jest-playwright isn't able to stop the process af

[2021-03-04 05:37] simonauner commented on #609
If anyone else stumbles this problem, which is "I want to run the server as a docker container", here's our current workaround.

*package.json*
[code]

*jest-playwright-config.js*
[code]

`-a STDIN` prevents the `Jest did not exit one second after the test run has completed.` message from showing up and actually stops the test run after it has completed.

The `posttest` npm task finds the image th

[2021-03-04 06:15] mmarkelov commented on #609
@simonauner thank you for your issue and your workaround. I'll try to investigate this. Maybe there is a place where we didn’t close `playwright`

[2021-03-04 06:23] simonauner commented on #609
@mmarkelov I think `playwright` might be closing alright, but a `docker run` won't close down when receiving SIGTERM (as far as my gooling made me understand at least), so it will just stick around.

[2021-03-04 06:27] mmarkelov commented on #609
@simonauner it can be a problem, but i'll try to reproduce it locally and find out the problem

[2021-03-04 08:50] aha-oretama opened #610 "Just Question; Is it possible to rerun by `--onlyFailures` when the playwright fail to connect to the browser?"
**Describe the bug**
This is not a bug, just a question.

I use `--onlyFailures` to make our tests more stable.
We can use it for no-watch mode now.
https://github.com/facebook/jest/pull/10678

I use [Moon](https://aerokube.com/moon/latest/) which provides a browser grid.

Sometimes, our test failed to connect the browser for some reasons...
For example, it takes much time for the browser to stand

[2021-03-04 15:00] mmarkelov commented on #610
@aha-oretama not sure but maybe [`retryTimes`](https://jestjs.io/docs/en/jest-object#jestretrytimes)

[2021-03-04 16:22] adamyonk opened #611 "Document globalSetup usage"
In the documentation there is reference to setting up authentication in `globalSetup` and then sharing that login across all test runs:

This seems to suggest a setup like:
[code]

But there is nothing playwright-related setup when globalSetup runs:
[code]

So does going this route require manually setting up playwright, or is there some way to get access to the instance that jest-playwright-prese

[2021-03-04 17:25] adamyonk commented on #611
Yeah, correct me if I'm wrong, but `beforeAll` is run before every test in _that_ test file, but if you want to do something only once for _the whole test suite_ it needs to be in `globalSetup`? I think the once-per-test-suite is what I'm after, so I can login once and not have to do it over and over.

[2021-03-04 17:39] adamyonk commented on #611
Perhaps there is some way to serialize the `context.storageState()` into memory _once_ and then have it available to any other browser instances?

[2021-03-04 17:55] mmarkelov commented on #611
@adamyonk that's true. But I think you can move it to `setupFilesAfterEnv` block:
[code]

[2021-03-04 21:00] adamyonk commented on #611
Cool, thanks for the info!

I think it would be nice to somehow have that happen once-per-suite and not before each test file, but that will work for now.

[2021-03-05 01:17] aha-oretama commented on #610
I tried... but it doesn't work 😓

This is my sample code. I confirmed that the test can be retried when there is no connection error.

[code]

But, when the connection error occurs, the test is never retried...  😢
The log is like this.
[code]

[2021-03-05 06:06] mmarkelov commented on #611
@adamyonk yes. But i'm not sure in other ways to handle with it. I can try to make it available in `globalSetup`, but i suppose it will be complicated. Right now starting browser occurs in custom environment and we can’t pass playwright stuff to `globalSetup`.

[2021-03-05 08:20] ychaudhari opened #612 "resetContext() fails to close a page."
**Describe the bug**
`jestPlaywright.resetContext();` fails to close a page.

**To Reproduce**
Run following test with `DEBUG=pw:api`
[code]

**Expected behavior**
No fails in the logs

**Actual behavior**
Shows following error in logs
[code]
**Full log**
[code]

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: Windows
 - Playwright version 1.9.1
 - jest-playwri

[2021-03-05 13:35] dialex opened #614 "Simple test passes for Firefox and fails for Chromium/Webkit"
**Describe the bug**

I have a simple test that pings the Amazon homepage and another that asserts a selector and a text. They both pass in Firefox. If I run the same tests for Chromium or Webkit the first passes and the seconds fails, without any error log so I have no idea what's wrong.

**To Reproduce**

Run this test for Chrome, Firefox and Safari. [Full source available in my repo](#) (run wi

[2021-03-05 14:14] rseeberg opened #615 "incorrect usage of devdependencies"
**Describe the bug**
The `playwright` and `playwright-chromium` dependencies listed in "DevDependencies" are actually being used in the runtime.
When using a strict packagemanager these will not be available.

**To Reproduce**
Try to use with yarn2 pnp enabled, and notice nothing is working

**Desktop (please complete the following information):**
 - OS: windows10
 - Playwright version latest
 - j

[2021-03-05 15:56] mxschmitt commented on #615
Hi, jest-playwright is designed that the user has to install either playwright or e.g. playwright-chromium to use jest-playwright. This allows setups, that a user e.g. only wants chromium or some whole playwright. Does this answer your question?

[2021-03-05 16:25] #612 closed

[2021-03-05 16:57] mmarkelov commented on #614
@dialex seems like that were page errors for **chromium** and **webkit** browsers, and by default it will fail your tests. So it should be fine with this config:
[code]

[2021-03-05 17:33] dialex commented on #614
ok... I'm a bit concern about **ignoring** the page errors. Why would there be page errors only for Chrome/Safari?

I followed your suggestion now Chromium passes, and Webkit fails most of the time with _timeout_. Only once it passed:

<img width="668" alt="Screenshot 2021-03-05 at 17 28 21" src="https://user-images.githubusercontent.com/2140450/110151408-5b1d8000-7dd8-11eb-8546-0ab85bd5fb61.png">

[2021-03-05 17:55] mmarkelov commented on #614
@dialex that's fine to skip page errors. For example for **chrome** they are about missed fonts:
[code]

For **webkit** you got this:
[code]

And this is error which you can see when you open developer console in Safari browser.

I don't have any ideas why Webkit takes so much time. And not sure that it is related to `jest-playwright` somehow.
You can try to run your test directly https://playwrig

[2021-03-06 05:21] #602 closed

[2021-03-06 05:37] #608 closed

[2021-03-07 11:19] mmarkelov commented on #609
@simonauner this was related to `jest-process-manager`. I just created PR to add ability to execute `teardown` command. After it will be merged i need to make some changes to `jest-playwright` and you will be able to use it like this:
[code]

[2021-03-07 18:39] Xezed commented on #611
I would like to see this feature too.
So... can find some time to dive into package myself and try to implement it.
Are you interested in it @mmarkelov ?

[2021-03-07 18:49] mmarkelov commented on #611
@Xezed I'm going to work on this. I think it can be helpful. But it will quite difficult to rewrite

[2021-03-07 21:17] Xezed commented on #611
Just FYI I was looking for authentication solution and stumbled upon this thread.
Thank you for being this fast :)

[2021-03-08 06:45] simonauner commented on #609
@mmarkelov That's awesome! Thanks for that quick implementation! :clap:

[2021-03-08 13:38] dialex commented on #614
Thanks a lot for your patience and explanation 🙇‍♂️

[2021-03-08 13:38] #614 closed

[2021-03-08 21:01] daliusd opened #623 "1.5.0 version comes still with `playwright-core` 1.8.0"
`jest-playwright` installs `playwright-core` with itself. For some reason 1.5.0 version installs `playwright-core` 1.8.0 (while I see that dependabot increased version to 1.9.1 in `jest-playwright`). I don't know how you make releases but I guess this is manual process and because of that 1.5.0 was released with `playwright-core` 1.8.0 (e.g. you have not done complete clean-up of node modules and

[2021-03-09 01:18] Rendez opened #624 "global.ts config can't be specified from testEnvironmentOptions, as described in docs"
I haven't tried this repo yet, but I was scanning thru the code.

As of now, only `config.serverOptions` is used inside `global.ts`, but the config is read from a jest-playwright config (either default or specified via ENV variable). In the docs says you can alternatively specify `testEnvironmentOptions['jest-playwright']`, which I think it's a great idea (one that jest-puppeteer lacks). This howe

[2021-03-09 09:22] Rendez commented on #624
One solution could be what is proposed here: https://github.com/facebook/jest/issues/9930

[2021-03-09 11:33] #615 closed

[2021-03-09 13:19] mmarkelov commented on #624
@Rendez yes& This is true. We have **TODO** here that there is problem in this case.
https://github.com/playwright-community/jest-playwright/blob/13acc493ca79bd74605e0e35aeaf8ba3bc07442b/src/global.ts#L29

This is something that related to Jest and i agree that we should put in **Readme**

[2021-03-09 14:12] mmarkelov commented on #623
@daliusd seems like that's coming from https://github.com/playwright-community/expect-playwright
will take a look

[2021-03-09 14:55] #623 closed

[2021-03-09 15:06] mmarkelov commented on #623
@daliusd just released **1.5.1** that should fix an issue

[2021-03-09 18:05] ychaudhari opened #626 "Issue with saving videos when we use jestPlaywright.resetContext()"
**Describe the bug**
resetContext() saves incorrect number of video files

**To Reproduce**
Run following test for two browsers (e.g. firefox and chromium) with
[code]

**Expected behavior**
It should save only 4 video files
(or 8 if video starts saving on global context/page before resetContext() is executed, and saves an empty file because of context closing before running the test)

**Actual be

[2021-03-09 18:58] Rendez commented on #624
Feel free to close this issue when ready, and let's hope future versions of jest globals ship that fix some time.

[2021-03-09 19:49] mmarkelov commented on #626
@ychaudhari that makes sense. Playwright save videos on `context` close.
https://playwright.dev/docs/videos?_highlight=recordvideo

And for you cases there are 6 times when `jest-playwright` close context. (4 times in your tests in `resetContext`, 2 times - in `PlaywrightEnv` `teardown`).

IDK how can we handle this cases. Cause we need to close **browser** and when we do it - `playwright` create

[2021-03-09 21:43] ychaudhari commented on #626
Ah, that makes sense (I didn't think about `PlaywrightEnv teardown` first)

Thanks for the tip on saving valid videos @mmarkelov !

[2021-03-09 21:43] #626 closed

[2021-03-09 21:45] daliusd commented on #623
Thank you for a quick response and fix. 1.5.1 fixed my issue.

[2021-03-10 19:07] ychaudhari opened #627 "Ability to use jestPlaywrightConfig with jestPlaywrightSkip"
**Is your feature request related to a problem? Please describe.**
I cannot use jestPlaywrightConfig with jestPlaywrightSkip
Context:
I have a set of visual regression tests in the entire test suite. The entire test suite runs for multiple browsers, but I need to run visual Regression tests for specific browser only (because the screenshot comparison fails when the test runs against a different br

[2021-03-12 13:34] Xezed commented on #611
@mmarkelov how long do you think this will take you to implement? Any estimations?
I've just started to implement the solution for my company and this feature is crucial.
Sorry for being pushy but I need to give my management some estimations to not feel dorky :smile:

[2021-03-12 18:09] mmarkelov commented on #611
@Xezed hello! I just made some investigation on it. And just didn't find any suitable solution. It's very treaky to pass playwright object correctly. I thought about the solution that used in [`jest-puppeteer`](https://github.com/smooth-code/jest-puppeteer/issues/88). But this won't cover all cases and will be able to use only if we will launch browser server. So to be honest that’s all what I've

[2021-03-12 18:43] Xezed commented on #611
Yeah exactly. I need a feature just like in [jest-puppeteer](https://github.com/smooth-code/jest-puppeteer/issues/88).
This issue will reappear in the future, that's for sure. How would you suggest to do one authentication for all tests otherwise?

I have some time to tinker around with it on my own if you don't mind. Can you provide me with some basic insights?
I'm rus btw so you can text me in T

[2021-03-14 11:21] Xezed commented on #611
There is some misunderstanding happened. :smile:
I've plunged into source code and found a way to absolutely satisfy my need.
Created a pull request please merge it :pray:  :pray:  :pray:

[2021-03-16 07:29] ychaudhari opened #634 "Typescript support for CustomEnvironment"
**Is your feature request related to a problem? Please describe.**
It would be great if you could provide support/example of typescript for CustomEnvironment

**Describe alternatives you've considered**
use CustomEnvironment.js without benefits of typescript

[2021-03-16 13:21] thernstig opened #635 "Docs bug: README points to version 1.7 of Playwright docs"
It should probably point to a later version.

[2021-03-16 13:44] thernstig opened #636 "Docs: Remove jestPlaywrightDebug ?"
https://github.com/playwright-community/jest-playwright#jestplaywrightdebug mentions the use of `jestPlaywrightDebug`. But with the support for `PWDEBUG=1 jest` is `jestPlaywrightDebug` needed anymore? If not it should be removed from the docs and code.

Sorry for not using the template but it feels way too elaborate for something like this that exists in the README.md 😝

[2021-03-16 18:50] #611 closed

[2021-03-16 18:55] mmarkelov commented on #636
@thernstig this is helper function to simplify [debugging process](https://github.com/playwright-community/jest-playwright/issues/216). But this is not related to `jestPlaywright.debug()` that we removed.

[2021-03-16 18:55] #636 closed

[2021-03-16 19:52] #635 closed

[2021-03-16 21:00] thernstig commented on #636
I was aware, but I just did not see the reason for `test.jestPlaywrightDebug`. One can easily do `if (process.env.PWDEBUG)` in `jest-playwright.config.js`. I thought it might simplify some logic for you and you could just describe how to use that env var.

[2021-03-18 18:41] thernstig opened #638 "Let jest-playwright.config.js export an async function"
**Is your feature request related to a problem? Please describe.**
I want to use async/await in my `jest-playwright.config.js` as it is nicer and easier to read code that way.

**Describe the solution you'd like**
Similar to how Jest's `globalSetup` can except the export of an async function, so should the above config like:

[code]

[2021-03-22 13:08] jignesh-dalal opened #645 "Unable to get the "Usage with custom globalSetup and globalTeardown" example working"
Can someone help me with a working example for the section "Usage with custom globalSetup and globalTeardown"?

I tried the following:
- Error 1: Cannot use import statement outside a module - Changed `import { globalSetup as playwrightGlobalSetup } from "jest-playwright-preset";` to `const playwrightGlobalSetup = require("jest-playwright-preset").globalSetup;`
- Error 2: chromium is not defined -

[2021-03-22 16:35] manavbharaduaj opened #646 "BrowserContext Options doesnt have "recordVideo" property"
**Describe the bug**
recordVideo property has been added in playwright 1.6 playwright version but not available in playwright preset due to which i am not able to record video.

Please let me know how can we record video for all pages

**Expected behavior**
It should show the browsercontext option to set recordvideo

**Screenshots**
If applicable, add screenshots to help explain your problem.
![im

[2021-03-22 16:48] #646 closed

[2021-03-23 08:33] jignesh-dalal commented on #645
Finally got it working by replacing `import { globalSetup as playwrightGlobalSetup } from "jest-playwright-preset";` with the following:

`const { chromium } = require("playwright");
const playwrightGlobalSetup = require("jest-playwright-preset").globalSetup;`

Hope it helps!

[2021-03-23 08:33] #645 closed

[2021-03-25 12:00] cscheffauer opened #647 "jest-playwright-preset 1.5.1 not working with playwright 1.10.0 and jest 24.9.0"
**Describe the bug**
When using the following versions in a project (package.json):
[code]
the npm install failed with `cb() never called!`

**To Reproduce**
Modify the package.json as above and install.

**Expected behavior**
Should not happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/29776408/112469411-bf918680-8d69-11eb-85b3-34d94a42b6e9.png)

**Desktop (please comple

[2021-03-25 12:09] mxschmitt commented on #647
I tried to reproduce it with Playwright 1.10 and the latest jest-playwright version but was not able too.

Ref: https://github.com/playwright-community/playwright-jest-examples/pull/23

did it work before? Jest 24.9.0 seems super old. Over 2 years. Thats probably the reason, try Jest 26 (latest) instead.

[2021-03-25 13:26] mxschmitt commented on #647
Closed since Jest > 26 is required.

[2021-03-25 13:26] #647 closed

[2021-03-25 15:21] cscheffauer commented on #647
@mxschmitt yes - the new version of Jest fixed the issue :) could this probably be added to the documentation?
maybe here?
https://github.com/playwright-community/jest-playwright#requirements

Thank u!